In [3]:
from pybaseball import batting_stats

data = batting_stats(2024, qual=30)

In [4]:
data

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR
5,26289,2024,Gunnar Henderson,BAL,23,82,322,376,94,47,...,113.1,138,0.575,240,0.163,0.261,0.291,0.550,0.400,6.0
0,15640,2024,Aaron Judge,NYY,32,83,297,365,93,39,...,116.1,132,0.632,209,0.150,0.279,0.307,0.747,0.478,5.8
3,20123,2024,Juan Soto,NYY,25,81,291,366,88,53,...,115.7,135,0.574,235,0.192,0.266,0.313,0.636,0.460,5.0
1,19755,2024,Shohei Ohtani,LAD,29,81,318,370,102,53,...,119.2,151,0.604,250,0.150,0.262,0.338,0.679,0.461,4.6
30,25764,2024,Bobby Witt Jr.,KCR,24,85,339,373,104,62,...,116.9,137,0.489,280,0.148,0.251,0.317,0.587,0.404,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,22244,2024,Jack Suwinski,PIT,25,69,194,218,33,21,...,111.0,49,0.374,131,0.163,0.279,0.214,0.337,0.279,-1.5
407,17901,2024,Andrew Benintendi,CHW,29,64,229,246,45,33,...,109.5,59,0.319,185,0.161,0.245,0.248,0.386,0.295,-1.5
467,15676,2024,Jose Abreu,HOU,37,35,113,120,14,10,...,109.7,28,0.326,86,0.173,0.298,0.162,0.241,0.199,-1.5
384,20543,2024,Elehuris Montero,COL,25,67,224,247,46,32,...,114.1,71,0.415,171,0.132,0.290,0.212,0.338,0.275,-1.7
475,6887,2024,Martin Maldonado,CHW,37,41,117,127,10,7,...,106.9,24,0.324,74,0.198,0.360,0.149,0.265,0.204,-1.9

In [5]:
data.columns

Index(['IDfg', 'Season', 'Name', 'Team', 'Age', 'G', 'AB', 'PA', 'H', '1B',
       ...
       'maxEV', 'HardHit', 'HardHit%', 'Events', 'CStr%', 'CSW%', 'xBA',
       'xSLG', 'xwOBA', 'L-WAR'],
      dtype='object', length=320)

In [6]:
for i in list(data.columns):
    print(i)

IDfg
Season
Name
Team
Age
G
AB
PA
H
1B
2B
3B
HR
R
RBI
BB
IBB
SO
HBP
SF
SH
GDP
SB
CS
AVG
GB
FB
LD
IFFB
Pitches
Balls
Strikes
IFH
BU
BUH
BB%
K%
BB/K
OBP
SLG
OPS
ISO
BABIP
GB/FB
LD%
GB%
FB%
IFFB%
HR/FB
IFH%
BUH%
wOBA
wRAA
wRC
Bat
Fld
Rep
Pos
RAR
WAR
Dol
Spd
wRC+
WPA
-WPA
+WPA
RE24
REW
pLI
phLI
PH
WPA/LI
Clutch
FB% (Pitch)
FBv
SL%
SLv
CT%
CTv
CB%
CBv
CH%
CHv
SF%
SFv
KN%
KNv
XX%
PO%
wFB
wSL
wCT
wCB
wCH
wSF
wKN
wFB/C
wSL/C
wCT/C
wCB/C
wCH/C
wSF/C
wKN/C
O-Swing%
Z-Swing%
Swing%
O-Contact%
Z-Contact%
Contact%
Zone%
F-Strike%
SwStr%
BsR
FA% (sc)
FT% (sc)
FC% (sc)
FS% (sc)
FO% (sc)
SI% (sc)
SL% (sc)
CU% (sc)
KC% (sc)
EP% (sc)
CH% (sc)
SC% (sc)
KN% (sc)
UN% (sc)
vFA (sc)
vFT (sc)
vFC (sc)
vFS (sc)
vFO (sc)
vSI (sc)
vSL (sc)
vCU (sc)
vKC (sc)
vEP (sc)
vCH (sc)
vSC (sc)
vKN (sc)
FA-X (sc)
FT-X (sc)
FC-X (sc)
FS-X (sc)
FO-X (sc)
SI-X (sc)
SL-X (sc)
CU-X (sc)
KC-X (sc)
EP-X (sc)
CH-X (sc)
SC-X (sc)
KN-X (sc)
FA-Z (sc)
FT-Z (sc)
FC-Z (sc)
FS-Z (sc)
FO-Z (sc)
SI-Z (sc)
SL-Z (sc)
CU-Z (sc)
KC-Z (sc)
EP-Z (sc)
CH-Z (sc)
SC-Z (sc)
KN-Z (sc)
wFA (sc)
wFT (sc)
wFC (sc)
wFS (sc)
wFO (sc)
wSI (sc)
wSL (sc)
wCU (sc)
wKC (sc)
wEP (sc)
wCH (sc)
wSC (sc)
wKN (sc)
wFA/C (sc)
wFT/C (sc)
wFC/C (sc)
wFS/C (sc)
wFO/C (sc)
wSI/C (sc)
wSL/C (sc)
wCU/C (sc)
wKC/C (sc)
wEP/C (sc)
wCH/C (sc)
wSC/C (sc)
wKN/C (sc)
O-Swing% (sc)
Z-Swing% (sc)
Swing% (sc)
O-Contact% (sc)
Z-Contact% (sc)
Contact% (sc)
Zone% (sc)
Pace
Def
wSB
UBR
Age Rng
Off
Lg
wGDP
Pull%
Cent%
Oppo%
Soft%
Med%
Hard%
TTO%
CH% (pi)
CS% (pi)
CU% (pi)
FA% (pi)
FC% (pi)
FS% (pi)
KN% (pi)
SB% (pi)
SI% (pi)
SL% (pi)
XX% (pi)
vCH (pi)
vCS (pi)
vCU (pi)
vFA (pi)
vFC (pi)
vFS (pi)
vKN (pi)
vSB (pi)
vSI (pi)
vSL (pi)
vXX (pi)
CH-X (pi)
CS-X (pi)
CU-X (pi)
FA-X (pi)
FC-X (pi)
FS-X (pi)
KN-X (pi)
SB-X (pi)
SI-X (pi)
SL-X (pi)
XX-X (pi)
CH-Z (pi)
CS-Z (pi)
CU-Z (pi)
FA-Z (pi)
FC-Z (pi)
FS-Z (pi)
KN-Z (pi)
SB-Z (pi)
SI-Z (pi)
SL-Z (pi)
XX-Z (pi)
wCH (pi)
wCS (pi)
wCU (pi)
wFA (pi)
wFC (pi)
wFS (pi)
wKN (pi)
wSB (pi)
wSI (pi)
wSL (pi)
wXX (pi)
wCH/C (pi)
wCS/C (pi)
wCU/C (pi)
wFA/C (pi)
wFC/C (pi)
wFS/C (pi)
wKN/C (pi)
wSB/C (pi)
wSI/C (pi)
wSL/C (pi)
wXX/C (pi)
O-Swing% (pi)
Z-Swing% (pi)
Swing% (pi)
O-Contact% (pi)
Z-Contact% (pi)
Contact% (pi)
Zone% (pi)
Pace (pi)
FRM
AVG+
BB%+
K%+
OBP+
SLG+
ISO+
BABIP+
LD+%
GB%+
FB%+
HR/FB%+
Pull%+
Cent%+
Oppo%+
Soft%+
Med%+
Hard%+
EV
LA
Barrels
Barrel%
maxEV
HardHit
HardHit%
Events
CStr%
CSW%
xBA
xSLG
xwOBA
L-WAR

In [3]:
from pybaseball import playerid_reverse_lookup

playerid_reverse_lookup(list(data['IDfg']), key_type='fangraphs')

NameError: name 'data' is not defined

In [8]:
data.to_excel('data.xlsx')

In [14]:
from pybaseball import statcast_batter
from pybaseball import playerid_lookup

playerid_lookup('judge','aaron')

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,judge,aaron,592450,judga001,judgeaa01,15640,2016.0,2024.0

In [15]:
statcast_batter('2017-01-01', '2017-12-31', player_id = 592450)

Gathering Player Data

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,bat_speed,swing_length
0,KC,2017-10-21,88.0,-1.27,5.23,"Judge, Aaron",592450,621121,strikeout,swinging_strike,...,4,0,4,Infield shift,Strategic,14.0,0.008,-0.143,NaN,NaN
1,KC,2017-10-21,89.2,-1.31,5.31,"Judge, Aaron",592450,621121,NaN,swinging_strike,...,4,0,4,Infield shift,Strategic,29.0,0.000,-0.053,NaN,NaN
2,KC,2017-10-21,88.2,-1.30,5.40,"Judge, Aaron",592450,621121,NaN,swinging_strike,...,4,0,4,Infield shift,Strategic,35.0,0.000,-0.032,NaN,NaN
3,SI,2017-10-21,95.2,-1.79,5.77,"Judge, Aaron",592450,450203,field_out,hit_into_play,...,0,0,0,Infield shift,Strategic,267.0,0.027,-0.245,NaN,NaN
4,KC,2017-10-21,87.4,-1.51,5.48,"Judge, Aaron",592450,621121,field_out,hit_into_play,...,4,0,4,Infield shift,Strategic,20.0,0.026,-0.273,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3386,NaN,2017-02-25,NaN,NaN,NaN,"Judge, Aaron",592450,620982,field_out,hit_into_play,...,1,1,1,NaN,NaN,NaN,0.013,NaN,NaN,NaN
3387,NaN,2017-02-24,NaN,NaN,NaN,"Judge, Aaron",592450,601713,strikeout,swinging_strike,...,1,1,0,NaN,NaN,NaN,-0.020,NaN,NaN,NaN
3388,NaN,2017-02-24,NaN,NaN,NaN,"Judge, Aaron",592450,601713,NaN,swinging_strike,...,1,1,0,NaN,NaN,NaN,0.000,NaN,NaN,NaN
3389,NaN,2017-02-24,NaN,NaN,NaN,"Judge, Aaron",592450,622556,home_run,hit_into_play,...,2,2,0,NaN,NaN,NaN,0.114,NaN,NaN,NaN
3390,NaN,2017-02-24,NaN,NaN,NaN,"Judge, Aaron",592450,601713,NaN,swinging_strike,...,1,1,0,NaN,NaN,NaN,0.000,NaN,NaN,NaN

In [16]:
from pybaseball import team_game_logs

batting_logs = team_game_logs(2017, "NYY")
batting_logs

C:\Users\kimhw\anaconda3\Lib\site-packages\pybaseball\team_game_logs.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]

,Game,Date,Home,Opp,Rslt,PA,AB,R,H,2B,...,SB,CS,BA,OBP,SLG,OPS,LOB,NumPlayers,Thr,OppStart
0,1,Apr 2,False,TBR,"L,3-7",39,36,3,9,1,...,0,0,0.250,0.282,0.278,0.560,9,12,R,C.Archer(59)
1,2,Apr 4,False,TBR,"W,5-0",39,36,5,9,4,...,1,0,0.250,0.295,0.403,0.698,7,9,R,J.Odorizzi(44)
2,3,Apr 5,False,TBR,"L,1-4",35,33,1,8,1,...,0,0,0.248,0.292,0.390,0.683,7,9,R,A.Cobb(60)
3,4,Apr 7,False,BAL,"L,5-6",39,35,5,10,1,...,2,1,0.257,0.309,0.414,0.723,7,12,R,U.Jiménez(33)
4,5,Apr 8,False,BAL,"L,4-5",40,34,4,9,1,...,1,1,0.259,0.323,0.391,0.714,9,11,R,K.Gausman(33)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,158,Sep 27,True,TBR,"W,6-1",37,34,6,9,3,...,0,0,0.262,0.339,0.448,0.787,7,10,R,M.Andriese(46)
158,159,Sep 28,True,TBR,"L,6-9",38,33,6,8,0,...,0,0,0.262,0.339,0.449,0.788,5,12,R,J.Faria(41)
159,160,Sep 29,True,TOR,"W,4-0",32,29,4,8,1,...,4,0,0.262,0.339,0.448,0.787,4,9,R,J.Biagini(45)
160,161,Sep 30,True,TOR,"W,2-1",33,29,2,7,0,...,0,0,0.262,0.339,0.447,0.787,7,9,R,M.Stroman(43)
161,162,Oct 1,True,TOR,"L,1-2",32,31,1,5,1,...,0,1,0.262,0.339,0.447,0.785,4,12,L,B.Anderson(64)

In [17]:
from pybaseball import schedule_and_record

record = schedule_and_record(2017, "NYY")
record

http://www.baseball-reference.com/teams/NYY/2017-schedule-scores.shtml

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
1,"Sunday, Apr 2",NYY,@,TBR,L,3.0,7.0,9.0,0-1,5.0,1.0,Archer,Tanaka,Colomé,3:21,D,31042.0,1.08,-1,None
2,"Tuesday, Apr 4",NYY,@,TBR,W,5.0,0.0,9.0,1-1,3.0,0.5,Sabathia,Odorizzi,None,3:07,N,19366.0,1.05,1,None
3,"Wednesday, Apr 5",NYY,@,TBR,L,1.0,4.0,9.0,1-2,4.0,1.5,Cobb,Pineda,Colomé,3:17,N,12737.0,1.07,-1,None
4,"Friday, Apr 7",NYY,@,BAL,L,5.0,6.0,9.0,1-3,4.0,2.5,Hart,Clippard,Britton,3:20,N,25248.0,1.04,-2,None
5,"Saturday, Apr 8",NYY,@,BAL,L,4.0,5.0,9.0,1-4,4.0,3.5,Givens,Betances,Britton,3:35,D,38916.0,1.00,-3,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,"Wednesday, Sep 27",NYY,Home,TBR,W,6.0,1.0,9.0,89-69,2.0,3.0,Severino,Andriese,None,3:19,N,30549.0,.44,3,None
159,"Thursday, Sep 28",NYY,Home,TBR,L,6.0,9.0,9.0,89-70,2.0,3.0,Hu,Gray,None,3:29,N,32933.0,.33,-1,None
160,"Friday, Sep 29",NYY,Home,TOR,W,4.0,0.0,9.0,90-70,2.0,2.0,Tanaka,Biagini,Chapman,2:51,D,35735.0,.17,1,None
161,"Saturday, Sep 30",NYY,Home,TOR,W,2.0,1.0,9.0,91-70,2.0,2.0,Sabathia,Stroman,Chapman,2:57,D,39457.0,.59,2,None
162,"Sunday, Oct 1",NYY,Home,TOR,L,1.0,2.0,9.0,91-71,2.0,2.0,Barnes,Germán,Osuna,2:28,D,37428.0,.05,-1,None

In [4]:
from pybaseball import statcast

# 특정 날짜 범위 동안의 Statcast 데이터를 가져오기 (예: 2023 시즌 개막일부터 2023년 4월 30일까지)
start_date = '2023-01-01'
end_date = '2023-12-31'

# Statcast 데이터를 가져오기
playlog_data = statcast(start_dt=start_date, end_dt=end_date)
playlog_data

This is a large query, it may take a moment to complete

C:\Users\kimhw\anaconda3\Lib\site-packages\pybaseball\statcast.py:50: UserWarning:
That's a nice request you got there. It'd be a shame if something were to happen to it.
We strongly recommend that you enable caching before running this. It's as simple as `pybaseball.cache.enable()`.
Since the Statcast requests can take a *really* long time to run, if something were to happen, like: a disconnect;
gremlins; computer repair by associates of Rudy Giuliani; electromagnetic interference from metal trash cans; etc.;
you could lose a lot of progress. Enabling caching will allow you to immediately recover all the successful
subqueries if that happens.
  warnings.warn(_OVERSIZE_WARNING)

Skipping offseason dates
Skipping offseason dates

100%|████████████████████████████████████████████████████████████████████████████████| 246/246 [01:39<00:00,  2.47it/s]
C:\Users\kimhw\anaconda3\Lib\site-packages\pybaseball\statcast.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_data = pd.concat(dataframe_list, axis=0).convert_dtypes(convert_string=False)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,bat_speed,swing_length
119,CU,2023-11-01,84.9,-1.19,6.12,"Sborz, Josh",606466,622250,strikeout,called_strike,...,0,0,5,Infield shade,Standard,26,0.0,-0.09,<NA>,<NA>
125,FF,2023-11-01,96.6,-0.69,6.24,"Sborz, Josh",606466,622250,NaN,ball,...,0,0,5,Strategic,Standard,206,0.0,0.016,<NA>,<NA>
129,CU,2023-11-01,84.5,-1.27,6.11,"Sborz, Josh",606466,622250,NaN,called_strike,...,0,0,5,Standard,Standard,24,0.0,-0.027,<NA>,<NA>
133,FF,2023-11-01,95.4,-0.8,6.23,"Sborz, Josh",606466,622250,NaN,foul,...,0,0,5,Standard,Standard,204,0.0,-0.022,<NA>,<NA>
136,FF,2023-11-01,95.6,-0.83,6.19,"Sborz, Josh",606466,622250,NaN,ball,...,0,0,5,Standard,Standard,207,0.0,0.016,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1068,NaN,2023-03-15,<NA>,<NA>,<NA>,"Dunning, Dane",679845,641540,field_out,hit_into_play,...,0,0,0,NaN,NaN,<NA>,0.03,<NA>,<NA>,<NA>
1188,NaN,2023-03-15,<NA>,<NA>,<NA>,"Dunning, Dane",668472,641540,strikeout,swinging_strike,...,0,0,0,NaN,NaN,<NA>,0.041,<NA>,<NA>,<NA>
1254,NaN,2023-03-15,<NA>,<NA>,<NA>,"Dunning, Dane",668472,641540,NaN,called_strike,...,0,0,0,NaN,NaN,<NA>,0.0,<NA>,<NA>,<NA>
1301,NaN,2023-03-15,<NA>,<NA>,<NA>,"Dunning, Dane",668472,641540,NaN,foul,...,0,0,0,NaN,NaN,<NA>,0.0,<NA>,<NA>,<NA>
1405,NaN,2023-03-15,<NA>,<NA>,<NA>,"Dunning, Dane",681987,641540,double,hit_into_play,...,0,0,0,NaN,NaN,<NA>,-0.06,<NA>,<NA>,<NA>

In [2]:
playlog_data.columns

Index(['pitch_type', 'game_date', 'release_speed', 'release_pos_x',
       'release_pos_z', 'player_name', 'batter', 'pitcher', 'events',
       'description', 'spin_dir', 'spin_rate_deprecated',
       'break_angle_deprecated', 'break_length_deprecated', 'zone', 'des',
       'game_type', 'stand', 'p_throws', 'home_team', 'away_team', 'type',
       'hit_location', 'bb_type', 'balls', 'strikes', 'game_year', 'pfx_x',
       'pfx_z', 'plate_x', 'plate_z', 'on_3b', 'on_2b', 'on_1b',
       'outs_when_up', 'inning', 'inning_topbot', 'hc_x', 'hc_y',
       'tfs_deprecated', 'tfs_zulu_deprecated', 'fielder_2', 'umpire', 'sv_id',
       'vx0', 'vy0', 'vz0', 'ax', 'ay', 'az', 'sz_top', 'sz_bot',
       'hit_distance_sc', 'launch_speed', 'launch_angle', 'effective_speed',
       'release_spin_rate', 'release_extension', 'game_pk', 'pitcher.1',
       'fielder_2.1', 'fielder_3', 'fielder_4', 'fielder_5', 'fielder_6',
       'fielder_7', 'fielder_8', 'fielder_9', 'release_pos_y',
       'estimated_ba_using_speedangle', 'estimated_woba_using_speedangle',
       'woba_value', 'woba_denom', 'babip_value', 'iso_value',
       'launch_speed_angle', 'at_bat_number', 'pitch_number', 'pitch_name',
       'home_score', 'away_score', 'bat_score', 'fld_score', 'post_away_score',
       'post_home_score', 'post_bat_score', 'post_fld_score',
       'if_fielding_alignment', 'of_fielding_alignment', 'spin_axis',
       'delta_home_win_exp', 'delta_run_exp', 'bat_speed', 'swing_length'],
      dtype='object')

In [3]:
playlog_data.to_excel('playlog_data.xlsx')

In [11]:
from pybaseball import statcast_pitcher_exitvelo_barrels

# get data for all qualified pitchers in 2019
data = statcast_pitcher_exitvelo_barrels(2019)
data

,"last_name, first_name",player_id,attempts,avg_hit_angle,anglesweetspotpercent,max_hit_speed,avg_hit_speed,ev50,fbld,gb,max_distance,avg_distance,avg_hr_distance,ev95plus,ev95percent,barrels,brl_percent,brl_pa
0,"Leake, Mike",502190,671,11.6,31.4,114.4,90.7,80.5,94.0,89.0,471,174,404,287,42.9,59,8.8,7.1
1,"Gonzales, Marco",594835,657,14.7,31.5,112.9,88.3,77.9,93.1,85.3,447,172,395,224,35.2,32,4.9,3.7
2,"Nova, Iván",467100,635,10.7,34.5,118.9,88.8,77.4,93.3,85.6,440,161,396,244,38.4,46,7.2,5.7
3,"Anderson, Brett",474463,600,5.0,30.5,115.1,89.6,79.0,94.6,86.9,486,142,419,240,40.0,44,7.3,5.9
4,"Alcantara, Sandy",645261,598,11.8,29.9,111.7,87.3,76.0,92.3,83.8,444,164,404,205,34.3,39,6.5,4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,"Ferguson, Caleb",657571,117,14.9,41.9,111.5,87.3,75.9,90.5,84.0,443,190,403,39,33.3,8,6.8,3.9
358,"Wingenter, Trey",622259,113,15.2,37.2,112.8,88.7,78.0,91.4,88.3,418,183,407,41,36.3,8,7.1,3.7
359,"Poche, Colin",621363,111,30.2,34.2,107.8,89.5,80.7,93.2,86.6,416,239,392,42,37.8,10,9.0,4.8
360,"Giles, Ken",571704,108,15.5,33.3,113.7,88.2,77.5,94.2,82.7,446,180,404,38,35.2,9,8.3,4.3
361,"Rainey, Tanner",663432,98,7.5,28.6,112.2,90.7,80.5,95.3,88.8,425,155,397,43,43.9,8,8.2,3.7

In [1]:
from pybaseball import statcast_batter_exitvelo_barrels

# get data for all qualified batters in 2019
data = statcast_batter_exitvelo_barrels(2017)
data

,"last_name, first_name",player_id,attempts,avg_hit_angle,anglesweetspotpercent,max_hit_speed,avg_hit_speed,ev50,fbld,gb,max_distance,avg_distance,avg_hr_distance,ev95plus,ev95percent,barrels,brl_percent,brl_pa
0,"Inciarte, Ender",542255,575,10.2,34.3,102.7,82.8,92.3,87.5,78.7,434,152,382.0,75,13.1,3,0.5,0.4
1,"Strange-Gordon, Dee",543829,566,2.2,27.7,104.1,81.6,91.7,85.9,79.6,395,122,380.0,63,11.2,1,0.2,0.1
2,"Lindor, Francisco",596019,566,14.6,32.2,111.7,89.1,99.1,92.8,85.4,456,192,401.0,203,35.9,40,7.1,5.5
3,"Betts, Mookie",605141,554,14.3,31.9,111.7,88.4,99.3,92.9,87.4,434,179,396.0,208,37.9,25,4.5,3.5
4,"Cabrera, Melky",466320,554,8.9,33.6,113.6,88.3,98.7,90.9,87.5,420,161,393.0,194,35.1,21,3.8,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,"Zunino, Mike",572287,228,20.5,35.1,114.1,90.3,103.4,96.0,84.5,470,200,412.0,107,46.9,33,14.5,7.6
252,"Martin, Russell",431145,225,6.9,32.9,108.9,88.3,99.7,95.1,83.0,449,157,399.0,85,37.9,16,7.1,4.4
253,"Hernández, Enrique",571771,221,13.6,30.8,111.5,88.5,98.7,93.1,84.5,421,178,397.0,80,36.5,16,7.2,4.7
254,"Williams, Nick",608384,220,7.8,37.3,109.2,88.1,99.9,93.4,83.6,445,161,397.0,91,41.4,17,7.7,5.0
255,"Avila, Alex",488671,193,12.4,49.7,107.9,91.0,101.1,95.7,84.7,443,197,400.0,98,50.8,29,15.0,7.7

In [2]:
data.columns

Index(['last_name, first_name', 'player_id', 'attempts', 'avg_hit_angle',
       'anglesweetspotpercent', 'max_hit_speed', 'avg_hit_speed', 'ev50',
       'fbld', 'gb', 'max_distance', 'avg_distance', 'avg_hr_distance',
       'ev95plus', 'ev95percent', 'barrels', 'brl_percent', 'brl_pa'],
      dtype='object')

In [3]:
from pybaseball import statcast_outs_above_average

# All fielders with at least 50 fielding attempts in 2019
data = statcast_outs_above_average(2017, "all", 30)
data.columns

Index(['last_name, first_name', 'player_id', 'display_team_name', 'year',
       'primary_pos_formatted', 'fielding_runs_prevented',
       'outs_above_average', 'outs_above_average_infront',
       'outs_above_average_lateral_toward3bline',
       'outs_above_average_lateral_toward1bline', 'outs_above_average_behind',
       'outs_above_average_rhh', 'outs_above_average_lhh',
       'actual_success_rate_formatted', 'adj_estimated_success_rate_formatted',
       'diff_success_rate_formatted'],
      dtype='object')

In [4]:
from pybaseball import statcast_batter_expected_stats

data = statcast_batter_expected_stats(2017, 30)
data.columns

Index(['last_name, first_name', 'player_id', 'year', 'pa', 'bip', 'ba',
       'est_ba', 'est_ba_minus_ba_diff', 'slg', 'est_slg',
       'est_slg_minus_slg_diff', 'woba', 'est_woba',
       'est_woba_minus_woba_diff'],
      dtype='object')

In [5]:
from pybaseball import statcast_batter_percentile_ranks

# get data for all qualified batters in 2019
data = statcast_batter_percentile_ranks(2017)
data.columns

Index(['player_name', 'player_id', 'year', 'xwoba', 'xba', 'xslg', 'xiso',
       'xobp', 'brl', 'brl_percent', 'exit_velocity', 'max_ev',
       'hard_hit_percent', 'k_percent', 'bb_percent', 'whiff_percent',
       'chase_percent', 'arm_strength', 'sprint_speed', 'oaa', 'bat_speed',
       'swing_length'],
      dtype='object')

In [8]:
from pybaseball import statcast_batter_pitch_arsenal

# get data for all qualified batters in 2019
data = statcast_batter_pitch_arsenal(2017)
data.columns

Index(['last_name, first_name', 'player_id', 'team_name_alt', 'pitch_type',
       'pitch_name', 'run_value_per_100', 'run_value', 'pitches',
       'pitch_usage', 'pa', 'ba', 'slg', 'woba', 'whiff_percent', 'k_percent',
       'put_away', 'est_ba', 'est_slg', 'est_woba', 'hard_hit_percent'],
      dtype='object')

In [9]:
data

,"last_name, first_name",player_id,team_name_alt,pitch_type,pitch_name,run_value_per_100,run_value,pitches,pitch_usage,pa,ba,slg,woba,whiff_percent,k_percent,put_away,est_ba,est_slg,est_woba,hard_hit_percent
0,"Dozier, Brian",572821,MIN,FF,4-Seam Fastball,1.6,17,1060,37.5,275,0.307,0.655,0.442,20.6,12.7,13.2,0.261,0.586,0.394,42.2
1,"Votto, Joey",458015,CIN,FF,4-Seam Fastball,2.6,28,1068,39.1,264,0.338,0.662,0.475,14.4,11.4,10.3,0.308,0.642,0.453,41.4
2,"Blackmon, Charlie",453568,COL,FF,4-Seam Fastball,1.9,22,1133,39.3,260,0.360,0.640,0.462,14.3,15.4,13.7,0.295,0.510,0.383,33.7
3,"LeMahieu, DJ",518934,COL,FF,4-Seam Fastball,0.2,2,1196,44.7,254,0.307,0.450,0.379,13.0,15.7,12.7,0.287,0.397,0.346,51.4
4,"Hamilton, Billy",571740,CIN,FF,4-Seam Fastball,-0.6,-6,1031,40.9,252,0.264,0.364,0.326,15.5,17.9,15.1,0.255,0.315,0.303,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2076,"Vázquez, Christian",543877,BOS,CH,Changeup,-3.7,-3,81,6.0,25,0.208,0.250,0.230,9.8,20.0,16.7,0.189,0.229,0.175,10.0
2077,"Slater, Austin",596103,SF,SI,Sinker,3.7,3,73,15.7,25,0.273,0.500,0.372,20.0,24.0,33.3,0.222,0.330,0.292,37.5
2078,"Martin, Russell",431145,TOR,CH,Changeup,-0.6,-1,94,6.3,25,0.143,0.429,0.308,41.0,24.0,20.0,0.199,0.332,0.301,26.7
2079,"Lopez, Raffy",607257,TOR,FF,4-Seam Fastball,1.0,1,104,42.1,25,0.250,0.600,0.422,30.2,24.0,21.4,0.230,0.551,0.397,28.6
2080,"Gonzalez, Marwin",503556,HOU,FC,Cutter,3.6,3,96,4.5,25,0.304,0.522,0.374,21.2,28.0,22.6,0.188,0.236,0.226,25.0

In [9]:
from pybaseball import pitching_stats

# get all of this season's pitching data so far
data = pitching_stats(2024)
data[['Name','Start-IP','Starting','GS']]

               Name  Start-IP  Starting  GS
13  Garrett Crochet     101.1      32.4  18
6        Chris Sale      99.2      28.6  16
5      Tanner Houck     107.2      29.3  17
26      Cole Ragans     102.2      27.8  18
17       Logan Webb     119.1      27.1  19
..              ...       ...       ...  ..
44     Jose Berrios     109.0       3.3  18
67     Aaron Civale      87.0       3.3  17
42   Marcus Stroman     100.2       1.2  18
58    Jose Quintana      89.2       0.8  17
62  Griffin Canning      93.2       1.3  17

[71 rows x 4 columns]

In [11]:
for i in list(data.columns):
    print(i)

IDfg
Season
Name
Team
Age
W
L
WAR
ERA
G
GS
CG
ShO
SV
BS
IP
TBF
H
R
ER
HR
BB
IBB
HBP
WP
BK
SO
GB
FB
LD
IFFB
Balls
Strikes
Pitches
RS
IFH
BU
BUH
K/9
BB/9
K/BB
H/9
HR/9
AVG
WHIP
BABIP
LOB%
FIP
GB/FB
LD%
GB%
FB%
IFFB%
HR/FB
IFH%
BUH%
Starting
Start-IP
Relieving
Relief-IP
RAR
Dollars
tERA
xFIP
WPA
-WPA
+WPA
RE24
REW
pLI
inLI
gmLI
exLI
Pulls
WPA/LI
Clutch
FB% 2
FBv
SL%
SLv
CT%
CTv
CB%
CBv
CH%
CHv
SF%
SFv
KN%
KNv
XX%
PO%
wFB
wSL
wCT
wCB
wCH
wSF
wKN
wFB/C
wSL/C
wCT/C
wCB/C
wCH/C
wSF/C
wKN/C
O-Swing%
Z-Swing%
Swing%
O-Contact%
Z-Contact%
Contact%
Zone%
F-Strike%
SwStr%
HLD
SD
MD
ERA-
FIP-
xFIP-
K%
BB%
SIERA
RS/9
E-F
FA% (sc)
FT% (sc)
FC% (sc)
FS% (sc)
FO% (sc)
SI% (sc)
SL% (sc)
CU% (sc)
KC% (sc)
EP% (sc)
CH% (sc)
SC% (sc)
KN% (sc)
UN% (sc)
vFA (sc)
vFT (sc)
vFC (sc)
vFS (sc)
vFO (sc)
vSI (sc)
vSL (sc)
vCU (sc)
vKC (sc)
vEP (sc)
vCH (sc)
vSC (sc)
vKN (sc)
FA-X (sc)
FT-X (sc)
FC-X (sc)
FS-X (sc)
FO-X (sc)
SI-X (sc)
SL-X (sc)
CU-X (sc)
KC-X (sc)
EP-X (sc)
CH-X (sc)
SC-X (sc)
KN-X (sc)
FA-Z (sc)
FT-Z (sc)
FC-Z (sc)
FS-Z (sc)
FO-Z (sc)
SI-Z (sc)
SL-Z (sc)
CU-Z (sc)
KC-Z (sc)
EP-Z (sc)
CH-Z (sc)
SC-Z (sc)
KN-Z (sc)
wFA (sc)
wFT (sc)
wFC (sc)
wFS (sc)
wFO (sc)
wSI (sc)
wSL (sc)
wCU (sc)
wKC (sc)
wEP (sc)
wCH (sc)
wSC (sc)
wKN (sc)
wFA/C (sc)
wFT/C (sc)
wFC/C (sc)
wFS/C (sc)
wFO/C (sc)
wSI/C (sc)
wSL/C (sc)
wCU/C (sc)
wKC/C (sc)
wEP/C (sc)
wCH/C (sc)
wSC/C (sc)
wKN/C (sc)
O-Swing% (sc)
Z-Swing% (sc)
Swing% (sc)
O-Contact% (sc)
Z-Contact% (sc)
Contact% (sc)
Zone% (sc)
Pace
RA9-WAR
BIP-Wins
LOB-Wins
FDP-Wins
Age Rng
K-BB%
Pull%
Cent%
Oppo%
Soft%
Med%
Hard%
kwERA
TTO%
CH% (pi)
CS% (pi)
CU% (pi)
FA% (pi)
FC% (pi)
FS% (pi)
KN% (pi)
SB% (pi)
SI% (pi)
SL% (pi)
XX% (pi)
vCH (pi)
vCS (pi)
vCU (pi)
vFA (pi)
vFC (pi)
vFS (pi)
vKN (pi)
vSB (pi)
vSI (pi)
vSL (pi)
vXX (pi)
CH-X (pi)
CS-X (pi)
CU-X (pi)
FA-X (pi)
FC-X (pi)
FS-X (pi)
KN-X (pi)
SB-X (pi)
SI-X (pi)
SL-X (pi)
XX-X (pi)
CH-Z (pi)
CS-Z (pi)
CU-Z (pi)
FA-Z (pi)
FC-Z (pi)
FS-Z (pi)
KN-Z (pi)
SB-Z (pi)
SI-Z (pi)
SL-Z (pi)
XX-Z (pi)
wCH (pi)
wCS (pi)
wCU (pi)
wFA (pi)
wFC (pi)
wFS (pi)
wKN (pi)
wSB (pi)
wSI (pi)
wSL (pi)
wXX (pi)
wCH/C (pi)
wCS/C (pi)
wCU/C (pi)
wFA/C (pi)
wFC/C (pi)
wFS/C (pi)
wKN/C (pi)
wSB/C (pi)
wSI/C (pi)
wSL/C (pi)
wXX/C (pi)
O-Swing% (pi)
Z-Swing% (pi)
Swing% (pi)
O-Contact% (pi)
Z-Contact% (pi)
Contact% (pi)
Zone% (pi)
Pace (pi)
FRM
K/9+
BB/9+
K/BB+
H/9+
HR/9+
AVG+
WHIP+
BABIP+
LOB%+
K%+
BB%+
LD%+
GB%+
FB%+
HR/FB%+
Pull%+
Cent%+
Oppo%+
Soft%+
Med%+
Hard%+
EV
LA
Barrels
Barrel%
maxEV
HardHit
HardHit%
Events
CStr%
CSW%
xERA
botERA
botOvr CH
botStf CH
botCmd CH
botOvr CU
botStf CU
botCmd CU
botOvr FA
botStf FA
botCmd FA
botOvr SI
botStf SI
botCmd SI
botOvr SL
botStf SL
botCmd SL
botOvr KC
botStf KC
botCmd KC
botOvr FC
botStf FC
botCmd FC
botOvr FS
botStf FS
botCmd FS
botOvr
botStf
botCmd
botxRV100
Stf+ CH
Loc+ CH
Pit+ CH
Stf+ CU
Loc+ CU
Pit+ CU
Stf+ FA
Loc+ FA
Pit+ FA
Stf+ SI
Loc+ SI
Pit+ SI
Stf+ SL
Loc+ SL
Pit+ SL
Stf+ KC
Loc+ KC
Pit+ KC
Stf+ FC
Loc+ FC
Pit+ FC
Stf+ FS
Loc+ FS
Pit+ FS
Stuff+
Location+
Pitching+
Stf+ FO
Loc+ FO
Pit+ FO

In [2]:
from pybaseball import statcast_pitcher_exitvelo_barrels

# get data for all qualified pitchers in 2019
data = statcast_pitcher_exitvelo_barrels(2017)
data.columns

Index(['last_name, first_name', 'player_id', 'attempts', 'avg_hit_angle',
       'anglesweetspotpercent', 'max_hit_speed', 'avg_hit_speed', 'ev50',
       'fbld', 'gb', 'max_distance', 'avg_distance', 'avg_hr_distance',
       'ev95plus', 'ev95percent', 'barrels', 'brl_percent', 'brl_pa'],
      dtype='object')

In [3]:
from pybaseball import statcast_pitcher_expected_stats

# get data for all qualified pitchers in 2019
data = statcast_pitcher_expected_stats(2017)
data.columns

Index(['last_name, first_name', 'player_id', 'year', 'pa', 'bip', 'ba',
       'est_ba', 'est_ba_minus_ba_diff', 'slg', 'est_slg',
       'est_slg_minus_slg_diff', 'woba', 'est_woba',
       'est_woba_minus_woba_diff', 'era', 'xera', 'era_minus_xera_diff'],
      dtype='object')

In [4]:
from pybaseball import statcast_pitcher_pitch_arsenal

# get average pitch speed data for all qualified pitchers in 2019
data = statcast_pitcher_pitch_arsenal(2017)
data.columns

Index(['last_name, first_name', 'pitcher', 'ff_avg_speed', 'si_avg_speed',
       'fc_avg_speed', 'sl_avg_speed', 'ch_avg_speed', 'cu_avg_speed',
       'fs_avg_speed', 'kn_avg_speed', 'st_avg_speed', 'sv_avg_speed'],
      dtype='object')

In [5]:
from pybaseball import statcast_pitcher_arsenal_stats

# get data for all pitchers with 25 or more plate appearances against in 2019
data = statcast_pitcher_arsenal_stats(2017)
data.columns

Index(['last_name, first_name', 'player_id', 'team_name_alt', 'pitch_type',
       'pitch_name', 'run_value_per_100', 'run_value', 'pitches',
       'pitch_usage', 'pa', 'ba', 'slg', 'woba', 'whiff_percent', 'k_percent',
       'put_away', 'est_ba', 'est_slg', 'est_woba', 'hard_hit_percent'],
      dtype='object')

In [9]:
from pybaseball import statcast_pitcher_percentile_ranks

# get data for all qualified pitchers in 2019
data = statcast_pitcher_percentile_ranks(2017)
data.columns

Index(['player_name', 'player_id', 'year', 'xwoba', 'xba', 'xslg', 'xiso',
       'xobp', 'brl', 'brl_percent', 'exit_velocity', 'max_ev',
       'hard_hit_percent', 'k_percent', 'bb_percent', 'whiff_percent',
       'chase_percent', 'arm_strength', 'xera', 'fb_velocity', 'fb_spin',
       'curve_spin'],
      dtype='object')

In [14]:
from pybaseball import statcast_pitcher_spin_dir_comp

# get data for fastball / changeup combos in 2020
data = statcast_pitcher_spin_dir_comp(2019)
data.columns

Index(['year', 'last_name, first_name', 'name_abbrev', 'player_id',
       'pitch_hand', 'pitch_comp', 'pitch_a', 'pitch_name_a', 'pitch_b',
       'pitch_name_b', 'n_pitches', 'n_pitch_a',
       'pitch_a_active_spin_formatted', 'pitch_a_hawkeye_measured_clock',
       'pitch_a_hawkeye_measured_clock_label',
       'pitch_a_movement_inferred_clock',
       'pitch_a_movement_inferred_clock_label',
       'pitch_a_diff_measured_inferred_minutes', 'n_pitch_b',
       'pitch_b_active_spin_formatted', 'pitch_b_hawkeye_measured_clock',
       'pitch_b_hawkeye_measured_clock_label',
       'pitch_b_movement_inferred_clock',
       'pitch_b_movement_inferred_clock_label',
       'pitch_b_diff_measured_inferred_minutes',
       'gap_diff_measured_inferred_minutes', 'diff_clock_label',
       'diff_measured_hours', 'diff_inferred_hours'],
      dtype='object')

In [15]:
data

Empty DataFrame
Columns: [year, last_name, first_name, name_abbrev, player_id, pitch_hand, pitch_comp, pitch_a, pitch_name_a, pitch_b, pitch_name_b, n_pitches, n_pitch_a, pitch_a_active_spin_formatted, pitch_a_hawkeye_measured_clock, pitch_a_hawkeye_measured_clock_label, pitch_a_movement_inferred_clock, pitch_a_movement_inferred_clock_label, pitch_a_diff_measured_inferred_minutes, n_pitch_b, pitch_b_active_spin_formatted, pitch_b_hawkeye_measured_clock, pitch_b_hawkeye_measured_clock_label, pitch_b_movement_inferred_clock, pitch_b_movement_inferred_clock_label, pitch_b_diff_measured_inferred_minutes, gap_diff_measured_inferred_minutes, diff_clock_label, diff_measured_hours, diff_inferred_hours]
Index: []

[0 rows x 29 columns]

In [16]:
from pybaseball import statcast_outs_above_average

# All fielders with at least 50 fielding attempts in 2019
data = statcast_outs_above_average(2017, "all", 1)
data.columns

Index(['last_name, first_name', 'player_id', 'display_team_name', 'year',
       'primary_pos_formatted', 'fielding_runs_prevented',
       'outs_above_average', 'outs_above_average_infront',
       'outs_above_average_lateral_toward3bline',
       'outs_above_average_lateral_toward1bline', 'outs_above_average_behind',
       'outs_above_average_rhh', 'outs_above_average_lhh',
       'actual_success_rate_formatted', 'adj_estimated_success_rate_formatted',
       'diff_success_rate_formatted'],
      dtype='object')

In [17]:
data

,"last_name, first_name",player_id,display_team_name,year,primary_pos_formatted,fielding_runs_prevented,outs_above_average,outs_above_average_infront,outs_above_average_lateral_toward3bline,outs_above_average_lateral_toward1bline,outs_above_average_behind,outs_above_average_rhh,outs_above_average_lhh,actual_success_rate_formatted,adj_estimated_success_rate_formatted,diff_success_rate_formatted
0,"Abreu, José",547989,White Sox,2017,1B,2,3,0,2,1,0,-1,4,79%,77%,2%
1,"Adames, Cristhian",542436,Rockies,2017,SS,-1,-1,0,0,-1,0,0,-1,50%,93%,-43%
2,"Adams, Lane",572669,Braves,2017,LF,-1,-1,0,1,-1,0,-1,0,81%,82%,-1%
3,"Adams, Matt",571431,---,2017,1B,-7,-8,-1,-5,0,-2,-1,-7,70%,75%,-5%
4,"Adduci, James",451192,Tigers,2017,RF,-1,-1,1,-2,0,-1,-1,-1,81%,84%,-3%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,"Zimmerman, Ryan",475582,Nationals,2017,1B,-3,-4,-2,-4,2,0,0,-4,72%,74%,-2%
530,"Zobrist, Ben",450314,Cubs,2017,2B,-3,-4,0,0,-4,0,-2,-2,81%,82%,-1%
531,"d'Arnaud, Chase",488818,---,2017,SS,-1,-2,0,-1,-1,0,-2,0,59%,64%,-5%
532,"d'Arnaud, Travis",518595,Mets,2017,2B,0,0,0,0,0,0,0,0,100%,100%,0%
533,"den Dekker, Matthew",544925,Tigers,2017,LF,1,1,1,0,0,0,0,1,100%,83%,17%

In [18]:
from pybaseball import statcast_outfield_directional_oaa

# All qualified outfielders from 2019
data = statcast_outfield_directional_oaa(2017)
data.columns

Index(['last_name, first_name', 'player_id', 'attempts',
       'n_outs_above_average', 'n_oaa_slice_back_left', 'n_oaa_slice_back',
       'n_oaa_slice_back_right', 'n_oaa_slice_back_all', 'n_oaa_slice_in_left',
       'n_oaa_slice_in', 'n_oaa_slice_in_right', 'n_oaa_slice_in_all'],
      dtype='object')

In [19]:
data

,"last_name, first_name",player_id,attempts,n_outs_above_average,n_oaa_slice_back_left,n_oaa_slice_back,n_oaa_slice_back_right,n_oaa_slice_back_all,n_oaa_slice_in_left,n_oaa_slice_in,n_oaa_slice_in_right,n_oaa_slice_in_all
0,"Buxton, Byron",621439,405,28,11,4,7,22,3,2,2,6
1,"Engel, Adam",641553,269,21,5,13,2,20,1,1,1,2
2,"Inciarte, Ender",542255,438,19,2,0,6,8,5,2,5,11
3,"Betts, Mookie",605141,413,18,-2,1,-1,-2,3,8,9,20
4,"Cain, Lorenzo",456715,446,18,3,5,2,11,5,0,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...
86,"Cespedes, Yoenis",493316,165,-9,-1,0,-2,-3,-3,-2,-1,-6
87,"Span, Denard",452655,323,-10,-1,0,-5,-7,-2,-1,-1,-3
88,"Choo, Shin-Soo",425783,180,-11,-3,-2,-4,-9,-1,0,0,-1
89,"Cabrera, Melky",466320,294,-13,-3,-3,-3,-9,0,0,-4,-4
90,"Kemp, Matt",461314,185,-16,-1,-2,-3,-7,-7,0,-2,-9

In [20]:
from pybaseball import statcast_outfield_catch_prob

# All qualified outfielders from 2019
data = statcast_outfield_catch_prob(2017)
data.columns

Index(['last_name, first_name', 'player_id', 'oaa', 'n_fieldout_5stars',
       'n_opp_5stars', 'n_5star_percent', 'n_fieldout_4stars', 'n_opp_4stars',
       'n_4star_percent', 'n_fieldout_3stars', 'n_opp_3stars',
       'n_3star_percent', 'n_fieldout_2stars', 'n_opp_2stars',
       'n_2star_percent', 'n_fieldout_1stars', 'n_opp_1stars',
       'n_1star_percent'],
      dtype='object')

In [21]:
data

,"last_name, first_name",player_id,oaa,n_fieldout_5stars,n_opp_5stars,n_5star_percent,n_fieldout_4stars,n_opp_4stars,n_4star_percent,n_fieldout_3stars,n_opp_3stars,n_3star_percent,n_fieldout_2stars,n_opp_2stars,n_2star_percent,n_fieldout_1stars,n_opp_1stars,n_1star_percent
0,"Buxton, Byron",621439,28,6,21,28.6,16,19,84.2,31,32,96.9,26,26,100.0,31,33,93.9
1,"Engel, Adam",641553,21,9,22,40.9,7,9,77.8,16,19,84.2,23,23,100.0,22,22,100.0
2,"Inciarte, Ender",542255,19,2,27,7.4,16,21,76.2,26,31,83.9,34,36,94.4,30,31,96.8
3,"Betts, Mookie",605141,18,6,30,20.0,14,18,77.8,25,32,78.1,30,33,90.9,23,25,92.0
4,"Cain, Lorenzo",456715,18,2,26,7.7,9,10,90.0,25,30,83.3,37,41,90.2,34,35,97.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,"Cespedes, Yoenis",493316,-9,1,13,7.7,0,9,0.0,3,6,50.0,9,10,90.0,10,13,76.9
87,"Span, Denard",452655,-10,0,19,0.0,2,14,14.3,11,22,50.0,21,28,75.0,15,15,100.0
88,"Choo, Shin-Soo",425783,-11,0,12,0.0,1,5,20.0,3,13,23.1,6,8,75.0,19,22,86.4
89,"Cabrera, Melky",466320,-13,0,37,0.0,0,14,0.0,3,10,30.0,15,21,71.4,24,25,96.0
90,"Kemp, Matt",461314,-16,0,16,0.0,0,7,0.0,0,10,0.0,11,18,61.1,11,14,78.6

In [22]:
from pybaseball import statcast_outfielder_jump

# All qualified outfielders from 2019
data = statcast_outfielder_jump(2017)
data.columns

Index(['last_name, first_name', 'resp_fielder_id', 'year',
       'outs_above_average', 'outs_per_play', 'rel_league_burst_distance',
       'rel_league_reaction_distance', 'rel_league_routing_distance',
       'rel_league_bootup_distance', 'f_bootup_distance', 'n', 'n_outs'],
      dtype='object')

In [23]:
data

,"last_name, first_name",resp_fielder_id,year,outs_above_average,outs_per_play,rel_league_burst_distance,rel_league_reaction_distance,rel_league_routing_distance,rel_league_bootup_distance,f_bootup_distance,n,n_outs
0,"Almora Jr., Albert",546991,2017,-1,46.5,0.4,0.9,-0.6,0.7,34.4,43,20
1,"Altherr, Aaron",571437,2017,-1,48.0,-0.3,-0.5,0.1,-0.7,31.6,50,24
2,"Aoki, Norichika",493114,2017,-1,31.6,0.2,1.0,-0.4,0.7,32.6,38,12
3,"Bautista, José",430832,2017,-8,33.3,-1.6,-0.4,0.9,-1.1,31.5,81,27
4,"Benintendi, Andrew",643217,2017,-7,28.6,-0.8,-1.5,1.0,-1.3,30.1,63,18
...,...,...,...,...,...,...,...,...,...,...,...,...
98,"Upton, Justin",457708,2017,1,47.1,0.2,-0.7,0.9,0.4,33.0,68,32
99,"Werth, Jayson",150029,2017,-5,36.4,-1.5,-0.7,0.7,-1.5,31.6,44,16
100,"Williams, Nick",608384,2017,-5,28.2,-0.6,-1.0,-0.9,-2.5,29.8,39,11
101,"Yelich, Christian",592885,2017,-1,48.9,0.2,-1.8,0.7,-0.9,33.0,94,46
102,"Zimmer, Bradley",605548,2017,4,61.1,0.8,-0.4,-0.1,0.3,33.5,36,22

In [24]:
from pybaseball import statcast_catcher_framing

# All qualified catchers from 2019
data = statcast_catcher_framing(2017)
data.columns

Index(['last_name', 'first_name', 'player_id', 'year', 'n_called_pitches',
       'runs_extra_strikes', 'strike_rate', 'strike_rate_11', 'strike_rate_12',
       'strike_rate_13', 'strike_rate_14', 'strike_rate_16', 'strike_rate_17',
       'strike_rate_18', 'strike_rate_19'],
      dtype='object')

In [25]:
data

,last_name,first_name,player_id,year,n_called_pitches,runs_extra_strikes,strike_rate,strike_rate_11,strike_rate_12,strike_rate_13,strike_rate_14,strike_rate_16,strike_rate_17,strike_rate_18,strike_rate_19
0,League Average,NaN,NaN,2017,148500,0,47.0,16.2,35.0,16.0,65.4,66.7,33.9,48.9,28.1
1,Maldonado,Martín,455117.0,2017,3716,21,52.0,16.0,38.2,16.2,64.3,74.4,38.3,57.0,37.5
2,Flowers,Tyler,452095.0,2017,2398,16,54.3,14.8,31.4,15.1,65.0,82.2,38.0,62.3,46.2
3,Hedges,Austin,595978.0,2017,3120,10,51.9,17.0,37.2,12.7,70.2,64.7,40.4,60.5,33.8
4,Grandal,Yasmani,518735.0,2017,3166,8,50.5,13.2,29.0,12.4,62.6,76.2,34.9,63.9,37.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Barnhart,Tucker,571466.0,2017,3134,-10,43.5,15.2,32.7,12.5,60.1,65.3,33.7,43.4,23.3
59,Rupp,Cameron,519237.0,2017,2516,-10,43.3,17.2,38.6,18.9,65.3,67.9,19.4,36.5,16.0
60,McCann,James,543510.0,2017,3069,-10,42.7,20.1,38.8,14.9,65.6,60.3,27.3,38.8,15.2
61,Wieters,Matt,446308.0,2017,3455,-12,43.5,21.5,34.6,15.0,66.1,58.8,28.1,42.9,18.3
62,Perez,Salvador,521692.0,2017,3275,-12,44.1,15.6,33.1,15.2,67.1,58.1,33.7,46.9,20.0

In [28]:
from pybaseball import statcast_outs_above_average

# All fielders with at least 50 fielding attempts in 2019
data = statcast_outs_above_average(2017, "all", 50)
data.columns

Index(['last_name, first_name', 'player_id', 'display_team_name', 'year',
       'primary_pos_formatted', 'fielding_runs_prevented',
       'outs_above_average', 'outs_above_average_infront',
       'outs_above_average_lateral_toward3bline',
       'outs_above_average_lateral_toward1bline', 'outs_above_average_behind',
       'outs_above_average_rhh', 'outs_above_average_lhh',
       'actual_success_rate_formatted', 'adj_estimated_success_rate_formatted',
       'diff_success_rate_formatted'],
      dtype='object')

In [43]:
from pybaseball import batting_stats

data = batting_stats(2017)

In [44]:
data

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR
1,15640,2017,Aaron Judge,NYY,25,155,542,678,154,75,...,121.1,186,0.550,338,0.157,0.290,0.287,0.668,0.450,8.7
6,5417,2017,Jose Altuve,HOU,27,153,590,662,204,137,...,109.1,143,0.280,511,0.161,0.233,0.291,0.477,0.360,7.5
11,13510,2017,Jose Ramirez,CLE,24,152,585,645,186,95,...,108.3,180,0.345,521,0.177,0.231,0.302,0.487,0.360,6.7
9,15429,2017,Kris Bryant,CHC,25,151,549,665,162,91,...,113.0,158,0.370,427,0.138,0.239,0.260,0.497,0.376,7.0
0,10155,2017,Mike Trout,LAA,25,114,402,507,123,62,...,114.7,128,0.405,316,0.193,0.255,0.294,0.589,0.425,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,12282,2017,Rougned Odor,TEX,23,162,607,651,124,70,...,112.4,167,0.372,449,0.133,0.263,0.230,0.404,0.289,-0.6
133,1887,2017,Jose Bautista,TOR,36,157,587,686,119,69,...,112.9,151,0.356,424,0.184,0.293,0.210,0.380,0.306,-0.6
137,589,2017,Carlos Beltran,HOU,40,129,467,509,108,65,...,109.6,115,0.310,371,0.172,0.262,0.229,0.369,0.284,-1.2
132,6876,2017,Mark Trumbo,BAL,31,146,559,603,131,86,...,118.5,154,0.375,411,0.154,0.291,0.237,0.403,0.300,-1.8
136,1177,2017,Albert Pujols,LAA,37,149,593,636,143,103,...,112.2,197,0.391,504,0.180,0.268,0.262,0.444,0.316,-1.9

In [45]:
data_list = list(data['Name'])

In [46]:
data_list[0]

'Aaron Judge'

In [47]:
data_list[0].split(' ')

['Aaron', 'Judge']

In [48]:
from pybaseball import playerid_lookup

player_data = playerid_lookup(data_list[0].split(' ')[1].lower(),data_list[0].split(' ')[0].lower())
player_data

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,judge,aaron,592450,judga001,judgeaa01,15640,2016.0,2024.0

In [49]:
player_data = player_data[player_data['key_fangraphs'] == 15640]
player_data['key_mlbam']

0    592450
Name: key_mlbam, dtype: int32

In [50]:
key_mlbam = player_data['key_mlbam'][0]

In [51]:
key_mlbam

592450

In [52]:
df = batting_stats(2017)

# key_mlbam 값을 저장할 리스트 생성
mlbam_keys = []

# 각 선수에 대해 key_mlbam 값을 도출하는 함수
def get_mlbam_key(player_name, player_id):
    try:
        first_name, last_name = player_name.split(' ')
        player_data = playerid_lookup(last_name.lower(), first_name.lower())
        player_data = player_data[player_data['key_fangraphs'] == player_id]
        key_mlbam = player_data['key_mlbam'].values[0]
        return key_mlbam
    except Exception as e:
        print(f"Error for player {player_name}: {e}")
        return None

# 각 선수에 대해 key_mlbam 값을 도출하여 리스트에 저장
for index, row in df.iterrows():
    key_mlbam = get_mlbam_key(row['Name'], row['IDfg'])
    mlbam_keys.append(key_mlbam)

# 결과를 데이터프레임에 추가
df['key_mlbam'] = mlbam_keys

Error for player Jose Altuve: index 0 is out of bounds for axis 0 with size 0
Error for player Jose Ramirez: index 0 is out of bounds for axis 0 with size 0
Error for player Avisail Garcia: index 0 is out of bounds for axis 0 with size 0
Error for player J.T. Realmuto: index 0 is out of bounds for axis 0 with size 0
Error for player Marwin Gonzalez: index 0 is out of bounds for axis 0 with size 0
Error for player Jose Abreu: index 0 is out of bounds for axis 0 with size 0
Error for player Gary Sanchez: index 0 is out of bounds for axis 0 with size 0
Error for player Eugenio Suarez: index 0 is out of bounds for axis 0 with size 0
Error for player Steven Souza Jr.: too many values to unpack (expected 2)
Error for player Javier Baez: index 0 is out of bounds for axis 0 with size 0
Error for player Robinson Cano: index 0 is out of bounds for axis 0 with size 0
Error for player Cesar Hernandez: index 0 is out of bounds for axis 0 with size 0
Error for player Odubel Herrera: index 0 is out of bounds for axis 0 with size 0
Error for player Edwin Encarnacion: index 0 is out of bounds for axis 0 with size 0
Error for player Jackie Bradley Jr.: too many values to unpack (expected 2)
Error for player Yolmer Sanchez: index 0 is out of bounds for axis 0 with size 0
Error for player Jose Reyes: index 0 is out of bounds for axis 0 with size 0
Error for player Asdrubal Cabrera: index 0 is out of bounds for axis 0 with size 0
Error for player Carlos Gonzalez: index 0 is out of bounds for axis 0 with size 0
Error for player Jose Peraza: index 0 is out of bounds for axis 0 with size 0
Error for player Hanley Ramirez: index 0 is out of bounds for axis 0 with size 0
Error for player Jose Bautista: index 0 is out of bounds for axis 0 with size 0
Error for player Carlos Beltran: index 0 is out of bounds for axis 0 with size 0

In [53]:
df

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR,key_mlbam
1,15640,2017,Aaron Judge,NYY,25,155,542,678,154,75,...,186,0.550,338,0.157,0.290,0.287,0.668,0.450,8.7,592450.0
6,5417,2017,Jose Altuve,HOU,27,153,590,662,204,137,...,143,0.280,511,0.161,0.233,0.291,0.477,0.360,7.5,NaN
11,13510,2017,Jose Ramirez,CLE,24,152,585,645,186,95,...,180,0.345,521,0.177,0.231,0.302,0.487,0.360,6.7,NaN
9,15429,2017,Kris Bryant,CHC,25,151,549,665,162,91,...,158,0.370,427,0.138,0.239,0.260,0.497,0.376,7.0,592178.0
0,10155,2017,Mike Trout,LAA,25,114,402,507,123,62,...,128,0.405,316,0.193,0.255,0.294,0.589,0.425,6.4,545361.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,12282,2017,Rougned Odor,TEX,23,162,607,651,124,70,...,167,0.372,449,0.133,0.263,0.230,0.404,0.289,-0.6,596059.0
133,1887,2017,Jose Bautista,TOR,36,157,587,686,119,69,...,151,0.356,424,0.184,0.293,0.210,0.380,0.306,-0.6,NaN
137,589,2017,Carlos Beltran,HOU,40,129,467,509,108,65,...,115,0.310,371,0.172,0.262,0.229,0.369,0.284,-1.2,NaN
132,6876,2017,Mark Trumbo,BAL,31,146,559,603,131,86,...,154,0.375,411,0.154,0.291,0.237,0.403,0.300,-1.8,444432.0
136,1177,2017,Albert Pujols,LAA,37,149,593,636,143,103,...,197,0.391,504,0.180,0.268,0.262,0.444,0.316,-1.9,405395.0

In [55]:
playerid_lookup('ramirez', 'jose')

Empty DataFrame
Columns: [name_last, name_first, key_mlbam, key_retro, key_bbref, key_fangraphs, mlb_played_first, mlb_played_last]
Index: []

In [57]:
from pybaseball import playerid_reverse_lookup

playerid_reverse_lookup([5417], key_type='fangraphs')

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,altuve,josé,514888,altuj001,altuvjo01,5417,2011.0,2024.0

In [60]:
df = batting_stats(2017, qual=30)

# key_mlbam 값을 저장할 리스트 생성
mlbam_keys = []

# 각 선수에 대해 key_mlbam 값을 도출하는 함수
def get_mlbam_key(player_id):
    try:
        player_data = playerid_reverse_lookup([player_id], key_type='fangraphs')
        key_mlbam = player_data['key_mlbam'].values[0]
        return key_mlbam
    except Exception as e:
        print(f"Error for player_id {player_id}: {e}")
        return None

# 각 선수에 대해 key_mlbam 값을 도출하여 리스트에 저장
for index, row in df.iterrows():
    key_mlbam = get_mlbam_key(row['IDfg'])
    mlbam_keys.append(key_mlbam)

# 결과를 데이터프레임에 추가
df['key_mlbam'] = mlbam_keys

# 결과 출력
df

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR,key_mlbam
3,15640,2017,Aaron Judge,NYY,25,155,542,678,154,75,...,186,0.550,338,0.157,0.290,0.287,0.668,0.450,8.7,592450
12,5417,2017,Jose Altuve,HOU,27,153,590,662,204,137,...,143,0.280,511,0.161,0.233,0.291,0.477,0.360,7.5,514888
17,13510,2017,Jose Ramirez,CLE,24,152,585,645,186,95,...,180,0.345,521,0.177,0.231,0.302,0.487,0.360,6.7,608070
15,15429,2017,Kris Bryant,CHC,25,151,549,665,162,91,...,158,0.370,427,0.138,0.239,0.260,0.497,0.376,7.0,592178
1,10155,2017,Mike Trout,LAA,25,114,402,507,123,62,...,128,0.405,316,0.193,0.255,0.294,0.589,0.425,6.4,545361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,4298,2017,Matt Wieters,WSN,31,123,422,465,95,65,...,96,0.289,332,0.145,0.240,0.232,0.367,0.287,-1.1,446308
499,9219,2017,Danny Espinosa,- - -,30,93,266,295,46,30,...,46,0.288,160,0.124,0.325,0.188,0.323,0.260,-0.9,457787
538,15905,2017,Luis Torrens,SDP,21,56,123,139,20,16,...,28,0.292,96,0.163,0.269,0.225,0.310,0.264,-1.3,620443
353,6876,2017,Mark Trumbo,BAL,31,146,559,603,131,86,...,154,0.375,411,0.154,0.291,0.237,0.403,0.300,-1.8,444432
382,1177,2017,Albert Pujols,LAA,37,149,593,636,143,103,...,197,0.391,504,0.180,0.268,0.262,0.444,0.316,-1.9,405395

In [64]:
batting_stats_columns = ['IDfg', 'Name', 'Team', 'GB/FB', 'LD%', 'GB%', 'FB%', 'IFFB%', 'HR/FB', 'Spd', 'BsR', 'wFB/C', 'wSL/C', 'wCT/C', 'wCB/C', 'wCH/C', 'wSF/C', 'wKN/C', 'O-Swing%', 'Z-Swing%', 'Swing%', 
'O-Contact%', 'Z-Contact%', 'Contact%', 'Zone%', 'F-Strike%', 'SwStr%', 'Pull%', 'Cent%', 'Oppo%', 'Soft%', 'Med%', 'Hard%', 'wFA/C (sc)', 'wFT/C (sc)', 'wFC/C (sc)', 'wFS/C (sc)', 
'wFO/C (sc)', 'wSI/C (sc)', 'wSL/C (sc)', 'wCU/C (sc)', 'wKC/C (sc)', 'wEP/C (sc)', 'wCH/C (sc)', 'wSC/C (sc)', 'wKN/C (sc)', 'O-Swing% (sc)', 'Z-Swing% (sc)', 'Swing% (sc)', 'O-Contact% (sc)',
'Z-Contact% (sc)', 'Contact% (sc)', 'Zone% (sc)', 'LD+%', 'GB%+' ,'FB%+', 'HR/FB%+', 'Pull%+', 'Cent%+', 'Oppo%+', 'Soft%+', 'Med%+', 'Hard%+', 'EV', 'LA', 'Barrel%', 'maxEV', 
'HardHit%', 'CStr%', 'CSW%', 'wCH/C (pi)', 'wCS/C (pi)', 'wCU/C (pi)', 'wFA/C (pi)', 'wFC/C (pi)', 'wFS/C (pi)', 'wKN/C (pi)', 'wSB/C (pi)', 'wSI/C (pi)', 'wSL/C (pi)', 'O-Swing% (pi)', 
'Z-Swing% (pi)', 'Swing% (pi)', 'O-Contact% (pi)', 'Z-Contact% (pi)', 'Contact% (pi)', 'Zone% (pi)', 'Pace', 'UBR', 'key_mlbam']

df = df[batting_stats_columns]
df

,IDfg,Name,Team,GB/FB,LD%,GB%,FB%,IFFB%,HR/FB,Spd,...,O-Swing% (pi),Z-Swing% (pi),Swing% (pi),O-Contact% (pi),Z-Contact% (pi),Contact% (pi),Zone% (pi),Pace,UBR,key_mlbam
3,15640,Aaron Judge,NYY,0.0081,0.219,0.349,0.432,0.062,0.356,4.8,...,0.207,0.666,0.410,0.351,0.801,0.675,0.443,23.0,0.5,592450
12,5417,Jose Altuve,HOU,0.0144,0.203,0.470,0.327,0.091,0.146,6.4,...,0.320,0.646,0.475,0.729,0.915,0.850,0.478,23.2,1.2,514888
17,13510,Jose Ramirez,CLE,0.0098,0.214,0.389,0.397,0.097,0.141,6.0,...,0.225,0.634,0.433,0.751,0.916,0.874,0.508,20.9,-1.4,608070
15,15429,Kris Bryant,CHC,0.0089,0.199,0.377,0.424,0.055,0.160,4.4,...,0.231,0.692,0.454,0.557,0.852,0.775,0.485,23.8,4.8,592178
1,10155,Mike Trout,LAA,0.0082,0.184,0.367,0.449,0.099,0.232,6.2,...,0.181,0.569,0.377,0.689,0.877,0.833,0.505,22.3,1.0,545361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,4298,Matt Wieters,WSN,0.0117,0.211,0.425,0.364,0.099,0.083,2.0,...,0.258,0.713,0.489,0.658,0.860,0.807,0.508,22.5,-3.2,446308
499,9219,Danny Espinosa,- - -,0.0097,0.139,0.424,0.437,0.136,0.091,3.5,...,0.293,0.724,0.520,0.349,0.705,0.610,0.526,26.7,-1.1,457787
538,15905,Luis Torrens,SDP,0.0239,0.161,0.591,0.247,0.043,0.000,2.4,...,0.208,0.676,0.487,0.511,0.842,0.785,0.596,22.2,0.5,620443
353,6876,Mark Trumbo,BAL,0.0107,0.161,0.433,0.406,0.150,0.138,2.5,...,0.302,0.696,0.495,0.543,0.808,0.726,0.491,24.3,-0.4,444432
382,1177,Albert Pujols,LAA,0.0114,0.185,0.435,0.381,0.109,0.120,2.1,...,0.302,0.633,0.473,0.639,0.887,0.810,0.515,23.7,-3.8,405395

In [73]:
from pybaseball import statcast_batter_exitvelo_barrels

statcast_batter_exitvelo_barrels_data = statcast_batter_exitvelo_barrels(2017, 10)
statcast_batter_exitvelo_barrels_data_columns = ['player_id', 'anglesweetspotpercent', 'ev50', 'fbld', 'max_distance', 'avg_distance', 'avg_hr_distance', 'ev95percent']
statcast_batter_exitvelo_barrels_data = statcast_batter_exitvelo_barrels_data[statcast_batter_exitvelo_barrels_data_columns]

# 열 이름 변경
new_column_names = {
    'player_id': 'key_mlbam'
}

statcast_batter_exitvelo_barrels_data.rename(columns=new_column_names, inplace=True)

statcast_batter_exitvelo_barrels_data

,key_mlbam,anglesweetspotpercent,ev50,fbld,max_distance,avg_distance,avg_hr_distance,ev95percent
0,542255,34.3,92.3,87.5,434,152,382.0,13.1
1,543829,27.7,91.7,85.9,395,122,380.0,11.2
2,596019,32.2,99.1,92.8,456,192,401.0,35.9
3,605141,31.9,99.3,92.9,434,179,396.0,37.9
4,466320,33.6,98.7,90.9,420,161,393.0,35.1
...,...,...,...,...,...,...,...,...
667,591971,10.0,83.2,83.5,320,156,NaN,0.0
668,545121,40.0,93.8,85.8,356,120,NaN,20.0
669,592567,30.0,101.1,89.1,375,141,375.0,50.0
670,572000,20.0,95.6,83.3,360,127,NaN,20.0
671,112526,10.0,85.1,82.6,235,50,NaN,0.0

In [74]:
import pandas as pd

df_merge = pd.merge(df, statcast_batter_exitvelo_barrels_data)
df_merge

,IDfg,Name,Team,GB/FB,LD%,GB%,FB%,IFFB%,HR/FB,Spd,...,Pace,UBR,key_mlbam,anglesweetspotpercent,ev50,fbld,max_distance,avg_distance,avg_hr_distance,ev95percent
0,15640,Aaron Judge,NYY,0.0081,0.219,0.349,0.432,0.062,0.356,4.8,...,23.0,0.5,592450,38.2,108.1,100.5,496,216,413.0,54.7
1,5417,Jose Altuve,HOU,0.0144,0.203,0.470,0.327,0.091,0.146,6.4,...,23.2,1.2,514888,34.8,96.8,91.3,430,167,393.0,28.1
2,13510,Jose Ramirez,CLE,0.0098,0.214,0.389,0.397,0.097,0.141,6.0,...,20.9,-1.4,608070,35.5,98.3,91.9,440,185,391.0,34.7
3,15429,Kris Bryant,CHC,0.0089,0.199,0.377,0.424,0.055,0.160,4.4,...,23.8,4.8,592178,35.1,98.8,92.3,451,196,401.0,36.6
4,10155,Mike Trout,LAA,0.0082,0.184,0.367,0.449,0.099,0.232,6.2,...,22.3,1.0,545361,36.4,102.0,94.3,448,199,411.0,39.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613,4298,Matt Wieters,WSN,0.0117,0.211,0.425,0.364,0.099,0.083,2.0,...,22.5,-3.2,446308,34.3,96.0,91.1,434,171,410.0,29.3
614,9219,Danny Espinosa,- - -,0.0097,0.139,0.424,0.437,0.136,0.091,3.5,...,26.7,-1.1,457787,31.3,98.1,90.9,433,178,403.0,28.7
615,15905,Luis Torrens,SDP,0.0239,0.161,0.591,0.247,0.043,0.000,2.4,...,22.2,0.5,620443,26.0,97.0,91.3,397,138,NaN,29.2
616,6876,Mark Trumbo,BAL,0.0107,0.161,0.433,0.406,0.150,0.138,2.5,...,24.3,-0.4,444432,26.5,101.9,94.3,461,170,401.0,38.5
617,1177,Albert Pujols,LAA,0.0114,0.185,0.435,0.381,0.109,0.120,2.1,...,23.7,-3.8,405395,31.9,99.3,93.3,459,177,408.0,39.2

In [99]:
from pybaseball import pitching_stats

pitching_df = pitching_stats(2020, qual=30)

# key_mlbam 값을 저장할 리스트 생성
mlbam_keys = []

# 각 선수에 대해 key_mlbam 값을 도출하는 함수
def get_mlbam_key(player_id):
    try:
        player_data = playerid_reverse_lookup([player_id], key_type='fangraphs')
        key_mlbam = player_data['key_mlbam'].values[0]
        return key_mlbam
    except Exception as e:
        print(f"Error for player_id {player_id}: {e}")
        return None

# 각 선수에 대해 key_mlbam 값을 도출하여 리스트에 저장
for index, row in pitching_df.iterrows():
    key_mlbam = get_mlbam_key(row['IDfg'])
    mlbam_keys.append(key_mlbam)

# 결과를 데이터프레임에 추가
pitching_df['key_mlbam'] = mlbam_keys

# 결과 출력
pitching_df

,IDfg,Season,Name,Team,Age,W,L,WAR,ERA,G,...,Stf+ FS,Loc+ FS,Pit+ FS,Stuff+,Location+,Pitching+,Stf+ FO,Loc+ FO,Pit+ FO,key_mlbam
1,19427,2020,Shane Bieber,CLE,25,8,1,3.1,1.63,12,...,NaN,NaN,NaN,120,102,106,NaN,NaN,NaN,669456
5,13074,2020,Yu Darvish,CHC,33,8,3,2.9,2.01,12,...,109.0,107.0,109.0,119,103,109,NaN,NaN,NaN,506433
2,12703,2020,Trevor Bauer,CIN,29,5,4,2.6,1.73,11,...,NaN,NaN,NaN,128,100,111,NaN,NaN,NaN,545333
15,10954,2020,Jacob deGrom,NYM,32,4,2,2.6,2.38,12,...,NaN,NaN,NaN,137,107,112,NaN,NaN,NaN,594798
6,17186,2020,Dinelson Lamet,SDP,27,3,1,2.5,2.09,12,...,NaN,NaN,NaN,134,101,109,NaN,NaN,NaN,659275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,8753,2020,Tanner Roark,TOR,33,2,3,-0.5,6.80,11,...,NaN,NaN,NaN,69,96,90,NaN,NaN,NaN,543699
134,16377,2020,Ryan Castellani,COL,24,1,4,-0.6,5.82,10,...,NaN,NaN,NaN,84,94,92,NaN,NaN,NaN,624418
139,5524,2020,Madison Bumgarner,ARI,30,1,4,-0.6,6.48,9,...,NaN,NaN,NaN,86,103,100,NaN,NaN,NaN,518516
156,13361,2020,Steven Matz,NYM,29,0,5,-0.7,9.68,9,...,NaN,NaN,NaN,97,102,103,NaN,NaN,NaN,571927
157,6797,2020,Julio Teheran,LAA,29,0,4,-0.8,10.05,10,...,NaN,NaN,NaN,77,100,96,NaN,NaN,NaN,527054

In [104]:
pitching_stats_columns = ['IDfg', 'Name', 'Team', 'GB/FB', 'LD%', 'GB%', 'FB%', 'IFFB%', 'HR/FB', 'FB%', 'FBv', 'SL%', 'SLv', 'CT%', 'CTv', 'CB%', 'CBv', 'CH%', 'CHv', 'SF%', 'SFv', 'KN%', 'KNv', 'PO%', 'wFB/C', 'wSL/C', 
'wCT/C', 'wCB/C', 'wCH/C', 'wSF/C', 'wKN/C', 'O-Swing%', 'Z-Swing%', 'Swing%', 'O-Contact%', 'Z-Contact%', 'Contact%', 'Zone%', 'F-Strike%', 'SwStr%', 'FA% (sc)', 'FT% (sc)', 
'FC% (sc)', 'FS% (sc)', 'FO% (sc)', 'SI% (sc)', 'SL% (sc)', 'CU% (sc)', 'KC% (sc)', 'EP% (sc)', 'CH% (sc)', 'SC% (sc)', 'KN% (sc)', 'UN% (sc)', 'vFA (sc)', 'vFT (sc)', 'vFC (sc)', 'vFS (sc)', 'vFO (sc)', 
'vSI (sc)', 'vSL (sc)', 'vCU (sc)', 'vKC (sc)', 'vEP (sc)', 'vCH (sc)', 'vSC (sc)', 'vKN (sc)', 'FA-X (sc)', 'FT-X (sc)', 'FC-X (sc)', 'FS-X (sc)', 'FO-X (sc)', 'SI-X (sc)', 'SL-X (sc)', 'CU-X (sc)', 'KC-X (sc)', 
'EP-X (sc)', 'CH-X (sc)', 'SC-X (sc)', 'KN-X (sc)', 'FA-Z (sc)', 'FT-Z (sc)', 'FC-Z (sc)', 'FS-Z (sc)', 'FO-Z (sc)', 'SI-Z (sc)', 'SL-Z (sc)', 'CU-Z (sc)', 'KC-Z (sc)', 'EP-Z (sc)', 'CH-Z (sc)', 'SC-Z (sc)', 
'KN-Z (sc)', 'wFA/C (sc)', 'wFT/C (sc)', 'wFC/C (sc)', 'wFS/C (sc)', 'wFO/C (sc)', 'wSI/C (sc)', 'wSL/C (sc)', 'wCU/C (sc)', 'wKC/C (sc)', 'wEP/C (sc)', 'wCH/C (sc)', 'wSC/C (sc)', 'wKN/C (sc)', 
'O-Swing% (sc)', 'Z-Swing% (sc)', 'Swing% (sc)', 'O-Contact% (sc)', 'Z-Contact% (sc)', 'Contact% (sc)', 'Zone% (sc)', 'LD%+', 'GB%+', 'FB%+', 'HR/FB%+', 'Pull%+', 'Cent%+', 
'Oppo%+', 'Soft%+', 'Med%+', 'Hard%+', 'EV', 'LA', 'Barrel%', 'maxEV', 'HardHit%', 'CStr%', 'CSW%', 'botOvr CH', 'botStf CH', 'botCmd CH', 'botOvr CU', 'botStf CU', 'botCmd CU', 
'botOvr FA', 'botStf FA', 'botCmd FA', 'botOvr SI', 'botStf SI', 'botCmd SI', 'botOvr SL', 'botStf SL', 'botCmd SL', 'botOvr KC', 'botStf KC', 'botCmd KC', 'botOvr FC', 'botStf FC', 
'botCmd FC', 'botOvr FS', 'botStf FS', 'botCmd FS', 'botOvr', 'botStf', 'botCmd', 'botxRV100', 'Stf+ CH', 'Loc+ CH', 'Pit+ CH', 'Stf+ CU', 'Loc+ CU', 'Pit+ CU', 'Stf+ FA', 'Loc+ FA',
'Pit+ FA', 'Stf+ SI', 'Loc+ SI', 'Pit+ SI', 'Stf+ SL', 'Loc+ SL', 'Pit+ SL', 'Stf+ KC', 'Loc+ KC', 'Pit+ KC', 'Stf+ FC', 'Loc+ FC', 'Pit+ FC', 'Stf+ FS', 'Loc+ FS', 'Pit+ FS', 'Stf+ FO', 'Loc+ FO', 
'Pit+ FO', 'Stuff+', 'Location+', 'Pitching+', 'CH% (pi)', 'CS% (pi)', 'CU% (pi)', 'FA% (pi)', 'FC% (pi)', 'FS% (pi)', 'KN% (pi)', 'SB% (pi)', 'SI% (pi)', 'SL% (pi)', 'vCH (pi)', 'vCS (pi)', 
'vCU (pi)', 'vFA (pi)', 'vFC (pi)', 'vFS (pi)', 'vKN (pi)', 'vSB (pi)', 'vSI (pi)', 'vSL (pi)', 'vXX (pi)', 'CH-X (pi)', 'CS-X (pi)', 'CU-X (pi)', 'FA-X (pi)', 'FC-X (pi)', 'FS-X (pi)', 'KN-X (pi)', 'SB-X (pi)', 
'SI-X (pi)', 'SL-X (pi)', 'CH-Z (pi)', 'CS-Z (pi)', 'CU-Z (pi)', 'FA-Z (pi)', 'FC-Z (pi)', 'FS-Z (pi)', 'KN-Z (pi)', 'SB-Z (pi)', 'SI-Z (pi)', 'SL-Z (pi)', 'wCH/C (pi)', 'wCS/C (pi)', 'wCU/C (pi)', 
'wFA/C (pi)', 'wFC/C (pi)', 'wFS/C (pi)', 'wKN/C (pi)', 'wSB/C (pi)', 'wSI/C (pi)', 'wSL/C (pi)', 'O-Swing% (pi)', 'Z-Swing% (pi)', 'Swing% (pi)', 'O-Contact% (pi)', 'Z-Contact% (pi)', 
'Contact% (pi)', 'Zone% (pi)','Pace', 'key_mlbam']

pitching_df = pitching_df[pitching_stats_columns]
pitching_df

,IDfg,Name,Team,GB/FB,LD%,GB%,FB%,FB%,IFFB%,HR/FB,...,wSL/C (pi),O-Swing% (pi),Z-Swing% (pi),Swing% (pi),O-Contact% (pi),Z-Contact% (pi),Contact% (pi),Zone% (pi),Pace,key_mlbam
1,19427,Shane Bieber,CLE,1.61,0.216,0.484,0.301,0.301,0.087,0.152,...,-0.04,0.361,0.610,0.467,0.410,0.811,0.633,0.426,22.3,669456
5,13074,Yu Darvish,CHC,1.40,0.259,0.432,0.308,0.308,0.088,0.088,...,2.78,0.303,0.645,0.494,0.435,0.810,0.709,0.559,27.7,506433
2,12703,Trevor Bauer,CIN,0.72,0.178,0.344,0.478,0.478,0.147,0.120,...,3.91,0.284,0.651,0.460,0.535,0.808,0.720,0.480,22.8,545333
15,10954,Jacob deGrom,NYM,1.15,0.205,0.425,0.370,0.370,0.093,0.130,...,1.42,0.343,0.732,0.538,0.381,0.700,0.598,0.501,22.7,594798
6,17186,Dinelson Lamet,SDP,0.87,0.208,0.369,0.423,0.423,0.048,0.079,...,3.54,0.308,0.629,0.474,0.417,0.826,0.697,0.516,23.1,659275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,8753,Tanner Roark,TOR,0.80,0.190,0.359,0.451,0.451,0.087,0.203,...,0.17,0.249,0.655,0.440,0.622,0.809,0.753,0.469,23.1,543699
134,16377,Ryan Castellani,COL,0.88,0.195,0.376,0.429,0.429,0.088,0.211,...,-0.74,0.225,0.640,0.423,0.539,0.870,0.778,0.477,21.5,624418
139,5524,Madison Bumgarner,ARI,0.76,0.262,0.319,0.418,0.418,0.153,0.220,...,NaN,0.284,0.681,0.494,0.695,0.898,0.843,0.530,24.2,518516
156,13361,Steven Matz,NYM,0.84,0.284,0.326,0.389,0.389,0.054,0.378,...,-3.43,0.282,0.657,0.472,0.580,0.863,0.779,0.507,20.1,571927
157,6797,Julio Teheran,LAA,0.89,0.245,0.355,0.400,0.400,0.091,0.273,...,-4.04,0.288,0.624,0.444,0.761,0.910,0.858,0.465,25.7,527054

In [107]:
from pybaseball import statcast_pitcher_exitvelo_barrels

statcast_pitcher_exitvelo_barrels_data = statcast_pitcher_exitvelo_barrels(2020, 10)
statcast_pitcher_exitvelo_barrels_columns = ['player_id', 'anglesweetspotpercent', 'ev50', 'fbld', 'max_distance', 'avg_distance', 'avg_hr_distance', 'ev95percent']
statcast_pitcher_exitvelo_barrels_data = statcast_pitcher_exitvelo_barrels_data[statcast_pitcher_exitvelo_barrels_columns]

# 열 이름 변경
new_column_names = {
    'player_id': 'key_mlbam'
}

statcast_pitcher_exitvelo_barrels_data.rename(columns=new_column_names, inplace=True)

statcast_pitcher_exitvelo_barrels_data

,key_mlbam,anglesweetspotpercent,ev50,fbld,max_distance,avg_distance,avg_hr_distance,ev95percent
0,608566,32.9,77.8,92.7,445,149,405.0,40.2
1,543294,34.3,75.0,90.9,450,154,407.0,32.0
2,622608,27.9,77.1,92.5,447,149,399.0,38.3
3,607536,31.9,75.8,91.9,451,146,411.0,35.8
4,458681,34.4,78.0,91.0,445,178,401.0,37.5
...,...,...,...,...,...,...,...,...
635,663399,30.0,67.7,102.7,362,141,NaN,30.0
636,664918,40.0,75.4,84.2,340,146,NaN,10.0
637,571788,40.0,86.0,98.4,391,177,391.0,50.0
638,641726,30.0,82.0,101.2,431,167,387.0,40.0
639,656913,30.0,62.1,91.7,394,151,394.0,20.0

In [108]:
pitcher_df_merge = pd.merge(pitching_df, statcast_pitcher_exitvelo_barrels_data)
pitcher_df_merge

,IDfg,Name,Team,GB/FB,LD%,GB%,FB%,FB%,IFFB%,HR/FB,...,Zone% (pi),Pace,key_mlbam,anglesweetspotpercent,ev50,fbld,max_distance,avg_distance,avg_hr_distance,ev95percent
0,19427,Shane Bieber,CLE,1.61,0.216,0.484,0.301,0.301,0.087,0.152,...,0.426,22.3,669456,26.1,78.1,93.9,443,152,409.0,43.1
1,13074,Yu Darvish,CHC,1.40,0.259,0.432,0.308,0.308,0.088,0.088,...,0.559,27.7,506433,36.4,78.7,93.0,449,162,405.0,34.2
2,12703,Trevor Bauer,CIN,0.72,0.178,0.344,0.478,0.478,0.147,0.120,...,0.480,22.8,545333,25.9,77.8,94.1,422,168,395.0,38.0
3,10954,Jacob deGrom,NYM,1.15,0.205,0.425,0.370,0.370,0.093,0.130,...,0.501,22.7,594798,30.1,78.0,92.4,451,171,410.0,33.6
4,17186,Dinelson Lamet,SDP,0.87,0.208,0.369,0.423,0.423,0.048,0.079,...,0.516,23.1,659275,34.7,77.4,93.3,424,176,392.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,8753,Tanner Roark,TOR,0.80,0.190,0.359,0.451,0.451,0.087,0.203,...,0.469,23.1,543699,36.4,78.0,93.4,438,188,389.0,42.9
154,16377,Ryan Castellani,COL,0.88,0.195,0.376,0.429,0.429,0.088,0.211,...,0.477,21.5,624418,35.3,81.4,94.3,453,196,415.0,45.1
155,5524,Madison Bumgarner,ARI,0.76,0.262,0.319,0.418,0.418,0.153,0.220,...,0.530,24.2,518516,37.6,78.9,95.9,453,199,404.0,40.4
156,13361,Steven Matz,NYM,0.84,0.284,0.326,0.389,0.389,0.054,0.378,...,0.507,20.1,571927,42.7,81.3,94.5,463,201,404.0,49.0
157,6797,Julio Teheran,LAA,0.89,0.245,0.355,0.400,0.400,0.091,0.273,...,0.465,25.7,527054,42.3,78.3,91.4,451,193,406.0,38.7

In [12]:
from pybaseball import statcast

# 특정 날짜 범위 동안의 Statcast 데이터를 가져오기 (예: 2023 시즌 개막일부터 2023년 4월 30일까지)
start_date = '2023-01-01'
end_date = '2023-12-31'

# Statcast 데이터를 가져오기
playlogs = statcast(start_dt=start_date, end_dt=end_date)
playlogs.to_excel('test.xlsx')

This is a large query, it may take a moment to complete

C:\Users\kimhw\anaconda3\Lib\site-packages\pybaseball\statcast.py:50: UserWarning:
That's a nice request you got there. It'd be a shame if something were to happen to it.
We strongly recommend that you enable caching before running this. It's as simple as `pybaseball.cache.enable()`.
Since the Statcast requests can take a *really* long time to run, if something were to happen, like: a disconnect;
gremlins; computer repair by associates of Rudy Giuliani; electromagnetic interference from metal trash cans; etc.;
you could lose a lot of progress. Enabling caching will allow you to immediately recover all the successful
subqueries if that happens.
  warnings.warn(_OVERSIZE_WARNING)

Skipping offseason dates
Skipping offseason dates

100%|████████████████████████████████████████████████████████████████████████████████| 246/246 [01:22<00:00,  2.96it/s]
C:\Users\kimhw\anaconda3\Lib\site-packages\pybaseball\statcast.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_data = pd.concat(dataframe_list, axis=0).convert_dtypes(convert_string=False)

In [120]:
playlogs_columns = ['game_date', 'home_team', 'batter', 'pitcher', 'events', 'game_type', 'fielder_2', 'fielder_3', 'fielder_4', 'fielder_5', 'fielder_6', 'fielder_7', 'fielder_8', 'fielder_9']

playlogs = playlogs[playlogs_columns]
playlogs = playlogs[playlogs['game_type'] == 'R']
playlogs = playlogs.dropna(subset=['events'])
playlogs

,game_date,home_team,batter,pitcher,events,game_type,fielder_2,fielder_3,fielder_4,fielder_5,fielder_6,fielder_7,fielder_8,fielder_9
2412,2023-10-01,BAL,677008,687798,field_out,R,657136,666915,665839,622569,596115,677800,678882,608701
3012,2023-10-01,BAL,602104,687798,strikeout,R,657136,666915,665839,622569,596115,677800,678882,608701
3833,2023-10-01,BAL,663624,687798,field_out,R,657136,666915,665839,622569,596115,677800,678882,608701
1914,2023-10-01,BAL,678882,608344,strikeout,R,543510,663624,676059,602104,683002,677008,622761,623993
2249,2023-10-01,BAL,624512,608344,field_out,R,543510,663624,676059,602104,683002,677008,622761,623993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3086,2023-03-30,SEA,543939,669456,field_out,R,572287,647304,665926,608070,642708,680757,664702,686823
3732,2023-03-30,SEA,677594,669456,strikeout,R,572287,647304,665926,608070,642708,680757,664702,686823
2919,2023-03-30,SEA,608070,622491,field_out,R,663728,664034,543939,553993,641487,672284,677594,606192
3287,2023-03-30,SEA,642708,622491,strikeout,R,663728,664034,543939,553993,641487,672284,677594,606192
3806,2023-03-30,SEA,680757,622491,field_out,R,663728,664034,543939,553993,641487,672284,677594,606192

In [25]:
from pybaseball import statcast_outs_above_average

# All fielders with at least 50 fielding attempts in 2019
statcast_outs_above_average_data = statcast_outs_above_average(2023, pos = 3)
statcast_outs_above_average_data

,"last_name, first_name",player_id,display_team_name,year,primary_pos_formatted,fielding_runs_prevented,outs_above_average,outs_above_average_infront,outs_above_average_lateral_toward3bline,outs_above_average_lateral_toward1bline,outs_above_average_behind,outs_above_average_rhh,outs_above_average_lhh,actual_success_rate_formatted,adj_estimated_success_rate_formatted,diff_success_rate_formatted
0,"Abreu, José",547989,Astros,2023,1B,-5,-6,-1,-5,-3,2,0,-6,73%,75%,-2%
1,"Alonso, Pete",624413,Mets,2023,1B,0,0,2,-3,-1,1,-2,1,74%,74%,0%
2,"Bell, Josh",605137,---,2023,1B,-3,-4,-1,-1,-2,0,-3,-1,66%,69%,-3%
3,"Bohm, Alec",664761,Phillies,2023,3B,-5,-6,0,-7,1,0,0,-7,68%,72%,-4%
4,"Casas, Triston",671213,Red Sox,2023,1B,-8,-10,-1,-5,-3,0,-2,-8,69%,72%,-3%
5,"Cooper, Garrett",643265,---,2023,1B,3,4,2,2,-1,0,1,2,69%,67%,2%
6,"Cron, C.J.",543068,---,2023,1B,1,1,0,-1,2,0,2,0,76%,75%,1%
7,"Cronenworth, Jake",630105,Padres,2023,1B,-2,-3,3,-3,-2,0,0,-2,72%,73%,-1%
8,"Díaz, Yandy",650490,Rays,2023,1B,-5,-6,-2,-5,1,0,-2,-4,67%,69%,-2%
9,"Flores, Wilmer",527038,Giants,2023,1B,1,1,2,0,-1,0,0,1,78%,78%,0%
10,"France, Ty",664034,Mariners,2023,1B,-1,-1,4,-7,1,1,-1,0,66%,66%,0%
11,"Freeman, Freddie",518692,Dodgers,2023,1B,3,3,-2,2,4,0,-3,6,72%,71%,1%
12,"Goldschmidt, Paul",502671,Cardinals,2023,1B,2,3,2,-2,2,1,0,3,71%,71%,0%
13,"Guerrero Jr., Vladimir",665489,Blue Jays,2023,1B,-10,-13,-2,-9,-2,0,-5,-8,69%,73%,-4%
14,"Gurriel, Yuli",493329,Marlins,2023,1B,-2,-2,1,-5,2,0,-4,2,69%,70%,-1%
15,"Harper, Bryce",547180,Phillies,2023,1B,2,3,0,-1,3,0,1,2,72%,70%,2%
16,"Joe, Connor",656582,Pirates,2023,RF,0,1,1,1,-1,0,2,-1,71%,71%,0%
17,"Kirilloff, Alex",666135,Twins,2023,1B,-6,-7,-1,-6,-1,0,0,-7,62%,67%,-5%
18,"LeMahieu, DJ",518934,Yankees,2023,3B,-2,-3,0,-3,1,-1,-2,0,69%,71%,-2%
19,"Lowe, Nathaniel",663993,Rangers,2023,1B,4,5,0,1,4,0,3,2,74%,73%,1%
20,"Montero, Elehuris",660707,Rockies,2023,1B,-2,-3,1,-6,1,1,0,-2,66%,68%,-2%
21,"Mountcastle, Ryan",663624,Orioles,2023,1B,-1,-1,0,-6,3,1,0,0,70%,71%,-1%
22,"Naylor, Josh",647304,Guardians,2023,1B,4,5,1,2,2,1,5,0,78%,76%,2%
23,"Noda, Ryan",676116,Athletics,2023,1B,-2,-3,0,-2,-4,3,-2,0,75%,76%,-1%
24,"O'Hearn, Ryan",656811,Orioles,2023,1B,3,3,0,0,3,1,2,2,73%,70%,3%
25,"Olson, Matt",621566,Braves,2023,1B,-3,-4,-2,-2,-1,1,-4,0,74%,75%,-1%
26,"Pratto, Nick",668472,Royals,2023,1B,-3,-4,-2,-5,2,0,-1,-4,74%,76%,-2%
27,"Rizzo, Anthony",519203,Yankees,2023,1B,5,6,2,0,4,0,1,5,76%,73%,3%
28,"Santana, Carlos",467793,---,2023,1B,2,2,0,-2,2,1,5,-3,76%,76%,0%
29,"Smith, Dominic",642086,Nationals,2023,1B,1,1,2,0,0,-1,1,0,73%,73%,0%
30,"Solano, Donovan",456781,Twins,2023,1B,-2,-2,-1,-2,1,0,0,-3,69%,71%,-2%
31,"Steer, Spencer",668715,Reds,2023,1B,-4,-5,-3,-1,-3,1,0,-5,67%,71%,-4%
32,"Tellez, Rowdy",642133,Brewers,2023,1B,-2,-2,1,-3,0,-1,-2,0,70%,71%,-1%
33,"Torkelson, Spencer",679529,Tigers,2023,1B,-5,-7,1,-8,0,1,-1,-6,70%,72%,-2%
34,"Vaughn, Andrew",683734,White Sox,2023,1B,-5,-7,-2,-6,-1,1,-4,-3,69%,71%,-2%
35,"Wade Jr., LaMonte",664774,Giants,2023,1B,-2,-3,2,-4,-2,0,-3,0,72%,73%,-1%
36,"Walker, Christian",572233,D-backs,2023,1B,9,11,1,7,2,1,1,11,74%,71%,3%

In [2]:
statcast_outs_above_average_columns = ['player_id','primary_pos_formatted', 'outs_above_average', 'outs_above_average_infront', 'outs_above_average_lateral_toward3bline', 'outs_above_average_lateral_toward1bline',
'outs_above_average_behind', 'outs_above_average_rhh', 'outs_above_average_lhh', 'actual_success_rate_formatted', 'adj_estimated_success_rate_formatted']

statcast_outs_above_average_data = statcast_outs_above_average_data[statcast_outs_above_average_columns]
statcast_outs_above_average_data

,player_id,primary_pos_formatted,outs_above_average,outs_above_average_infront,outs_above_average_lateral_toward3bline,outs_above_average_lateral_toward1bline,outs_above_average_behind,outs_above_average_rhh,outs_above_average_lhh,actual_success_rate_formatted,adj_estimated_success_rate_formatted
0,547989,1B,4,-1,3,1,1,-1,5,81%,78%
1,660670,CF,1,-1,0,2,0,0,1,92%,91%
2,642715,SS,-1,0,1,-1,0,-1,0,71%,71%
3,571431,1B,0,0,0,0,0,0,0,100%,91%
4,666176,RF,-4,-1,-3,0,-1,-1,-3,83%,87%
...,...,...,...,...,...,...,...,...,...,...,...
482,543939,2B,0,-1,2,-2,1,1,-1,79%,79%
483,573262,RF,-5,0,-1,-2,-1,-1,-4,86%,89%
484,592885,LF,-3,-1,-1,-1,1,-2,-1,85%,88%
485,670370,2B,-2,0,-2,0,0,-2,0,40%,64%
486,605548,CF,-1,-2,1,0,0,-1,0,79%,83%

In [3]:
fielder_3_data = statcast_outs_above_average_data[statcast_outs_above_average_data['primary_pos_formatted'] == 'CF']
fielder_3_data

,player_id,primary_pos_formatted,outs_above_average,outs_above_average_infront,outs_above_average_lateral_toward3bline,outs_above_average_lateral_toward1bline,outs_above_average_behind,outs_above_average_rhh,outs_above_average_lhh,actual_success_rate_formatted,adj_estimated_success_rate_formatted
1,660670,CF,1,-1,0,2,0,0,1,92%,91%
16,546991,CF,0,0,0,-1,0,-1,1,86%,86%
32,664056,CF,3,1,2,0,0,2,2,91%,87%
39,641355,CF,10,1,4,4,1,5,5,89%,84%
54,598265,CF,6,1,4,2,-1,3,3,92%,87%
...,...,...,...,...,...,...,...,...,...,...,...
458,662139,CF,0,0,0,0,0,0,0,89%,88%
466,664774,CF,0,0,0,0,0,0,0,88%,88%
476,664334,CF,0,0,0,0,0,0,0,100%,99%
478,592863,CF,0,0,-1,0,0,0,0,75%,79%
486,605548,CF,-1,-2,1,0,0,-1,0,79%,83%

In [138]:
fielder_7_data = statcast_outs_above_average_data[statcast_outs_above_average_data['primary_pos_formatted'] == 'LF']
fielder_7_data

,player_id,primary_pos_formatted,outs_above_average,outs_above_average_infront,outs_above_average_lateral_toward3bline,outs_above_average_lateral_toward1bline,outs_above_average_behind,outs_above_average_rhh,outs_above_average_lhh,actual_success_rate_formatted,adj_estimated_success_rate_formatted
8,673451,LF,1,0,2,-1,0,1,0,92%,91%
13,546990,LF,-1,-1,0,-1,0,-1,-1,67%,78%
14,656185,LF,1,0,1,0,0,1,0,95%,92%
15,501659,LF,0,0,0,0,0,0,0,100%,98%
25,606157,LF,0,0,0,0,0,0,0,92%,90%
...,...,...,...,...,...,...,...,...,...,...,...
448,663656,LF,4,0,3,1,0,1,3,92%,89%
451,457708,LF,-2,0,-1,-2,0,-2,-1,88%,91%
474,642201,LF,1,0,1,0,0,0,1,88%,86%
479,608385,LF,-1,0,0,-1,0,-1,0,87%,90%
484,592885,LF,-3,-1,-1,-1,1,-2,-1,85%,88%

In [9]:
from pybaseball import statcast_outfield_directional_oaa

statcast_outfield_directional_oaa_data = statcast_outfield_directional_oaa(2018)
statcast_outfield_directional_oaa_data

,"last_name, first_name",player_id,attempts,n_outs_above_average,n_oaa_slice_back_left,n_oaa_slice_back,n_oaa_slice_back_right,n_oaa_slice_back_all,n_oaa_slice_in_left,n_oaa_slice_in,n_oaa_slice_in_right,n_oaa_slice_in_all
0,"Inciarte, Ender",542255,413,22,5,2,6,13,2,1,5,8
1,"Cain, Lorenzo",456715,346,20,4,3,6,13,1,3,3,7
2,"Engel, Adam",641553,382,18,6,5,3,15,0,1,2,3
3,"Bader, Harrison",664056,272,18,2,1,2,6,6,5,1,12
4,"Hamilton, Billy",571740,383,16,5,0,6,11,1,1,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...
82,"Dietrich, Derek",518618,169,-12,-3,-3,-3,-9,0,0,-3,-3
83,"Harper, Bryce",547180,329,-13,-2,-4,-1,-8,-3,-2,-1,-6
84,"Jones, Adam",430945,371,-15,-5,-1,-3,-9,-1,-3,-2,-6
85,"Hoskins, Rhys",656555,279,-17,-1,-3,-5,-8,-1,-5,-3,-9
86,"Castellanos, Nick",592206,348,-23,-7,-4,-1,-12,-4,-2,-5,-12

In [129]:
statcast_outfield_directional_oaa_columns = ['player_id', 'attempts', 'n_outs_above_average', 'n_oaa_slice_back_all', 'n_oaa_slice_in_all']
statcast_outfield_directional_oaa_data = statcast_outfield_directional_oaa_data[statcast_outfield_directional_oaa_columns]
statcast_outfield_directional_oaa_data

,player_id,attempts,n_outs_above_average,n_oaa_slice_back_all,n_oaa_slice_in_all
0,663757,163,8,5,3
1,641355,158,7,4,4
2,605141,149,6,3,3
3,598265,130,6,0,6
4,673357,171,6,1,5
...,...,...,...,...,...
86,650391,82,-4,-2,-1
87,543305,134,-5,-3,-2
88,571980,88,-5,-4,-1
89,502210,122,-5,-3,-2
90,573262,140,-5,-4,-1

In [10]:
from pybaseball import statcast_outfield_catch_prob

statcast_outfield_catch_prob_data = statcast_outfield_catch_prob(2018)
statcast_outfield_catch_prob_data

,"last_name, first_name",player_id,oaa,n_fieldout_5stars,n_opp_5stars,n_5star_percent,n_fieldout_4stars,n_opp_4stars,n_4star_percent,n_fieldout_3stars,n_opp_3stars,n_3star_percent,n_fieldout_2stars,n_opp_2stars,n_2star_percent,n_fieldout_1stars,n_opp_1stars,n_1star_percent
0,"Inciarte, Ender",542255,22,5,24,20.8,13,14,92.9,20,24,83.3,30,30,100.0,24,24,100.0
1,"Cain, Lorenzo",456715,20,6,23,26.1,8,11,72.7,22,24,91.7,25,27,92.6,23,23,100.0
2,"Engel, Adam",641553,18,2,25,8.0,7,14,50.0,22,23,95.7,36,36,100.0,19,19,100.0
3,"Bader, Harrison",664056,18,3,16,18.8,9,11,81.8,20,21,95.2,28,28,100.0,17,17,100.0
4,"Hamilton, Billy",571740,16,5,29,17.2,10,17,58.8,19,22,86.4,33,36,91.7,29,29,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,"Dietrich, Derek",518618,-12,0,9,0.0,0,8,0.0,1,8,12.5,6,9,66.7,5,6,83.3
83,"Harper, Bryce",547180,-13,0,19,0.0,1,4,25.0,7,22,31.8,9,11,81.8,19,23,82.6
84,"Jones, Adam",430945,-15,0,29,0.0,1,16,6.3,2,13,15.4,25,30,83.3,25,27,92.6
85,"Hoskins, Rhys",656555,-17,0,14,0.0,0,13,0.0,3,12,25.0,11,17,64.7,24,26,92.3
86,"Castellanos, Nick",592206,-23,0,29,0.0,0,11,0.0,4,15,26.7,8,18,44.4,19,23,82.6

In [131]:
statcast_outfield_catch_prob_columns = ['player_id', 'n_5star_percent', 'n_4star_percent', 'n_3star_percent', 'n_2star_percent', 'n_1star_percent']
statcast_outfield_catch_prob_data = statcast_outfield_catch_prob_data[statcast_outfield_catch_prob_columns]
statcast_outfield_catch_prob_data

,player_id,n_5star_percent,n_4star_percent,n_3star_percent,n_2star_percent,n_1star_percent
0,663757,33.3,57.1,100.0,90.9,100.0
1,641355,0.0,80.0,100.0,100.0,100.0
2,605141,0.0,66.7,88.9,100.0,100.0
3,598265,0.0,83.3,90.0,88.9,100.0
4,673357,11.1,100.0,85.7,94.7,88.9
...,...,...,...,...,...,...
86,650391,12.5,0.0,0.0,100.0,88.9
87,543305,0.0,0.0,50.0,87.5,91.7
88,571980,0.0,50.0,0.0,20.0,71.4
89,502210,0.0,0.0,25.0,85.7,84.6
90,573262,0.0,25.0,22.2,84.6,84.6

In [132]:
from pybaseball import statcast_outfielder_jump

statcast_outfielder_jump_data = statcast_outfielder_jump(2020)
statcast_outfielder_jump_data

,"last_name, first_name",resp_fielder_id,year,outs_above_average,outs_per_play,rel_league_burst_distance,rel_league_reaction_distance,rel_league_routing_distance,rel_league_bootup_distance,f_bootup_distance,n,n_outs
0,"Acuña Jr., Ronald",660670,2020,0,47.4,-1.0,-1.4,0.9,-0.8,32.1,19,9
1,"Adell, Jo",666176,2020,-2,47.8,0.3,0.3,-1.1,-0.4,32.9,23,11
2,"Akiyama, Shogo",673451,2020,1,63.2,0.4,-0.2,0.8,0.7,33.8,19,12
3,"Arozarena, Randy",668227,2020,-1,25.0,1.7,0.4,-0.9,1.1,34.0,12,3
4,"Bader, Harrison",664056,2020,3,65.0,2.5,0.5,0.2,3.2,37.4,20,13
...,...,...,...,...,...,...,...,...,...,...,...,...
97,"Tucker, Cole",657061,2020,-2,20.0,-0.1,-0.2,0.4,0.0,32.4,15,3
98,"Tucker, Kyle",663656,2020,2,65.5,0.4,0.5,-0.3,0.4,33.4,29,19
99,"Verdugo, Alex",657077,2020,3,73.3,1.5,0.8,0.1,2.4,33.5,15,11
100,"Yastrzemski, Mike",573262,2020,-5,43.8,-0.3,-0.3,0.5,0.0,33.1,32,14
101,"Yelich, Christian",592885,2020,-1,47.4,-1.4,-1.8,1.0,-2.6,30.1,19,9

In [133]:
statcast_outfielder_jump_columns = ['resp_fielder_id', 'rel_league_burst_distance', 'rel_league_reaction_distance', 'rel_league_routing_distance', 'rel_league_bootup_distance']
statcast_outfielder_jump_data = statcast_outfielder_jump_data[statcast_outfielder_jump_columns]

# 열 이름 변경
new_column_names = {
    'resp_fielder_id': 'player_id'
}

statcast_outfielder_jump_data.rename(columns=new_column_names, inplace=True)

statcast_outfielder_jump_data

C:\Users\kimhw\AppData\Local\Temp\ipykernel_5148\3818363771.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  statcast_outfielder_jump_data.rename(columns=new_column_names, inplace=True)

,player_id,rel_league_burst_distance,rel_league_reaction_distance,rel_league_routing_distance,rel_league_bootup_distance
0,660670,-1.0,-1.4,0.9,-0.8
1,666176,0.3,0.3,-1.1,-0.4
2,673451,0.4,-0.2,0.8,0.7
3,668227,1.7,0.4,-0.9,1.1
4,664056,2.5,0.5,0.2,3.2
...,...,...,...,...,...
97,657061,-0.1,-0.2,0.4,0.0
98,663656,0.4,0.5,-0.3,0.4
99,657077,1.5,0.8,0.1,2.4
100,573262,-0.3,-0.3,0.5,0.0
101,592885,-1.4,-1.8,1.0,-2.6

In [152]:
fielder_7_data = statcast_outs_above_average_data[statcast_outs_above_average_data['primary_pos_formatted'] == 'LF']
fielder_7_data

,player_id,primary_pos_formatted,outs_above_average,outs_above_average_infront,outs_above_average_lateral_toward3bline,outs_above_average_lateral_toward1bline,outs_above_average_behind,outs_above_average_rhh,outs_above_average_lhh,actual_success_rate_formatted,adj_estimated_success_rate_formatted
8,673451,LF,1,0,2,-1,0,1,0,92%,91%
13,546990,LF,-1,-1,0,-1,0,-1,-1,67%,78%
14,656185,LF,1,0,1,0,0,1,0,95%,92%
15,501659,LF,0,0,0,0,0,0,0,100%,98%
25,606157,LF,0,0,0,0,0,0,0,92%,90%
...,...,...,...,...,...,...,...,...,...,...,...
448,663656,LF,4,0,3,1,0,1,3,92%,89%
451,457708,LF,-2,0,-1,-2,0,-2,-1,88%,91%
474,642201,LF,1,0,1,0,0,0,1,88%,86%
479,608385,LF,-1,0,0,-1,0,-1,0,87%,90%
484,592885,LF,-3,-1,-1,-1,1,-2,-1,85%,88%

In [20]:
from pybaseball import statcast_catcher_framing

# All qualified catchers from 2019
data = statcast_catcher_framing(2023)
data

,last_name,first_name,player_id,year,n_called_pitches,runs_extra_strikes,strike_rate,strike_rate_11,strike_rate_12,strike_rate_13,strike_rate_14,strike_rate_16,strike_rate_17,strike_rate_18,strike_rate_19
0,League Average,NaN,NaN,2023,146162,0,46.2,19.2,49.9,23.6,59.3,62.6,30.4,49.7,21.9
1,Bailey,Patrick,672275.0,2023,2513,16,52.9,26.8,54.6,30.8,61.4,66.5,37.2,59.3,31.8
2,Hedges,Austin,595978.0,2023,2025,13,52.5,27.6,58.3,42.2,53.8,70.0,38.8,60.7,26.5
3,Heim,Jonah,641680.0,2023,3657,10,48.5,20.1,49.3,28.0,63.5,69.2,27.5,46.9,24.4
4,Alvarez,Francisco,682626.0,2023,3006,9,48.9,20.5,49.1,28.7,67.2,64.2,35.8,52.7,26.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Díaz,Elias,553869.0,2023,3530,-8,43.2,24.7,61.2,26.2,63.4,48.3,28.2,35.4,11.9
60,Stephenson,Tyler,663886.0,2023,2436,-9,42.0,27.2,59.5,33.3,55.3,51.5,25.0,35.8,11.5
61,Ruiz,Keibert,660688.0,2023,3676,-13,42.6,23.1,53.1,24.4,58.1,58.7,19.6,39.6,17.1
62,Realmuto,J.T.,592663.0,2023,4192,-14,43.9,11.9,48.2,13.9,61.8,56.3,31.3,46.0,20.5
63,Maldonado,Martín,455117.0,2023,3421,-17,41.0,25.4,46.9,22.8,53.5,57.1,21.9,40.7,15.1

In [157]:
player_info_dict['Bats'][:-1]

'Right'

In [163]:
playerid_reverse_lookup(['gilbelo01'], key_type='bbref')

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,gilbert,logan,669302,gilbl002,gilbelo01,22250,2021.0,2024.0

In [26]:
from pybaseball import team_fielding

# get each team's seasonal fielding stats from 2010 through 2013
data = team_fielding(2023)
data

,teamIDfg,Season,Team,G,GS,Inn,PO,A,E,FE,...,60-90%,# 60-90%,90-100%,# 90-100%,rSZ,rCERA,rTS,FRM,OAA,Range
0,23,2023,Brewers,2225,1458,12987.0,4329,1407,77,37,...,NaN,NaN,NaN,NaN,16,-1,8,20.7,41,34
1,15,2023,Diamondbacks,2235,1458,12918.0,4306,1399,56,27,...,NaN,NaN,NaN,NaN,-13,8,2,-10.2,30,24
2,7,2023,Royals,2210,1458,12681.0,4227,1391,80,49,...,NaN,NaN,NaN,NaN,-2,1,0,-6.3,28,21
3,29,2023,Padres,2128,1458,12969.0,4323,1444,73,41,...,NaN,NaN,NaN,NaN,-8,-1,19,-9.4,26,20
4,13,2023,Rangers,2121,1458,12927.0,4309,1423,57,23,...,NaN,NaN,NaN,NaN,4,-1,-3,10.2,18,14
5,11,2023,Mariners,2166,1458,13044.0,4348,1379,73,30,...,NaN,NaN,NaN,NaN,3,-4,20,3.3,23,19
6,21,2023,Astros,2108,1458,13008.0,4336,1346,81,31,...,NaN,NaN,NaN,NaN,-20,0,14,-18.1,8,8
7,19,2023,Rockies,2156,1458,12726.0,4242,1516,81,35,...,NaN,NaN,NaN,NaN,-16,-4,0,-14.3,-1,-3
8,17,2023,Cubs,2142,1458,12918.0,4306,1490,92,50,...,NaN,NaN,NaN,NaN,-3,-1,12,-2.0,16,11
9,14,2023,Blue Jays,2231,1458,13065.0,4355,1307,71,29,...,NaN,NaN,NaN,NaN,9,3,23,12.0,10,11
10,5,2023,Guardians,2176,1458,12996.0,4332,1418,83,42,...,NaN,NaN,NaN,NaN,0,0,18,2.5,16,13
11,30,2023,Giants,2319,1458,12912.0,4304,1606,117,57,...,NaN,NaN,NaN,NaN,22,-1,11,19.2,14,9
12,16,2023,Braves,2081,1458,12960.0,4320,1339,82,50,...,NaN,NaN,NaN,NaN,7,0,5,10.1,-14,-10
13,12,2023,Rays,2185,1458,12978.0,4326,1401,75,49,...,NaN,NaN,NaN,NaN,1,4,-2,-6.9,1,1
14,24,2023,Nationals,2138,1458,12855.0,4285,1505,90,39,...,NaN,NaN,NaN,NaN,-18,0,-15,-19.2,1,2
15,27,2023,Pirates,2298,1458,12870.0,4290,1403,91,51,...,NaN,NaN,NaN,NaN,17,1,12,25.9,1,0
16,6,2023,Tigers,2321,1458,12981.0,4327,1403,100,62,...,NaN,NaN,NaN,NaN,10,-2,33,5.4,-8,-6
17,22,2023,Dodgers,2338,1458,13017.0,4339,1407,76,41,...,NaN,NaN,NaN,NaN,8,5,34,3.7,-4,-1
18,9,2023,Yankees,2160,1458,12957.0,4319,1427,96,52,...,NaN,NaN,NaN,NaN,16,1,17,20.0,2,1
19,28,2023,Cardinals,2137,1458,12855.0,4285,1592,67,40,...,NaN,NaN,NaN,NaN,-16,-1,31,-18.0,-7,-7
20,26,2023,Phillies,2178,1458,12981.0,4327,1385,91,50,...,NaN,NaN,NaN,NaN,-13,-2,-2,-15.8,-3,-4
21,8,2023,Twins,2356,1458,13062.0,4354,1286,66,29,...,NaN,NaN,NaN,NaN,3,0,21,6.6,-13,-10
22,2,2023,Orioles,2335,1458,13083.0,4361,1444,71,38,...,NaN,NaN,NaN,NaN,6,-2,1,6.0,-17,-13
23,10,2023,Athletics,2247,1458,12777.0,4259,1269,102,52,...,NaN,NaN,NaN,NaN,-16,-3,-7,-15.6,-19,-16
24,25,2023,Mets,2165,1458,12747.0,4249,1394,88,46,...,NaN,NaN,NaN,NaN,14,-1,-3,16.3,-16,-13
25,1,2023,Angels,2190,1458,12885.0,4295,1284,95,47,...,NaN,NaN,NaN,NaN,-2,-2,13,-12.3,-21,-15
26,4,2023,White Sox,2193,1458,12885.0,4295,1249,95,55,...,NaN,NaN,NaN,NaN,6,-2,5,5.0,-18,-15
27,18,2023,Reds,2396,1458,12954.0,4318,1283,91,47,...,NaN,NaN,NaN,NaN,-9,-1,26,-15.4,-37,-30
28,20,2023,Marlins,2246,1458,12918.0,4306,1412,98,40,...,NaN,NaN,NaN,NaN,3,-2,15,4.8,-30,-23
29,3,2023,Red Sox,2223,1458,12870.0,4290,1429,102,45,...,NaN,NaN,NaN,NaN,-6,2,3,-8.3,-50,-39

In [18]:
from pybaseball import team_fielding_bref

# get the Yankees (NYY) seasonal fielding stats from 2010 through 2013
data = team_fielding_bref('NYY', 2023)
data.columns

Index(['Name', 'Age', 'Year', 'G', 'GS', 'CG', 'Inn', 'Ch', 'PO', 'A', 'E',
       'DP', 'Fld%', 'Rtot', 'Rtot/yr', 'Rdrs', 'Rdrs/yr', 'Rgood', 'RF/9',
       'RF/G', 'PB', 'WP', 'SB', 'CS', 'CS%', 'lgCS%', 'PO', 'Pos Summary'],
      dtype='object')

In [30]:
from pybaseball import chadwick_register

# get the register data
data = chadwick_register()
data

Gathering player lookup table. This may take a moment.

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,Bradley,Jed,605152,bradj002,bradlje01,13166,2016.0,2016.0
1,Barrios,Manuel,110625,barrm002,barrima01,1000605,1997.0,1998.0
2,Martin,Frank,118336,martf102,martifr01,1008165,1897.0,1899.0
3,Browne,Byron,111603,browb101,brownby01,1001500,1965.0,1972.0
4,Jackson,John,800935,jackj702,NaN,-1,NaN,NaN
...,...,...,...,...,...,...,...,...
25093,Page,Vance,120175,pagev101,pageva01,1009957,1938.0,1941.0
25094,Wilkinson,Roy,124274,wilkr101,wilkiro01,1013961,1918.0,1922.0
25095,Demaree,Al,113250,demaa101,demaral01,1003187,1912.0,1919.0
25096,McKee,Frank,118767,mckef101,mckeefr01,1008583,1884.0,1884.0
25097,Guevara,Carlos,454581,guevc001,guevaca01,5692,2008.0,2008.0

In [4]:
from pybaseball import pitching_stats_bref

data = pitching_stats_bref(2024)
data.columns

Index(['Name', 'Age', '#days', 'Lev', 'Tm', 'G', 'GS', 'W', 'L', 'SV', 'IP',
       'H', 'R', 'ER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'AB', '2B', '3B', 'IBB',
       'GDP', 'SF', 'SB', 'CS', 'PO', 'BF', 'Pit', 'Str', 'StL', 'StS',
       'GB/FB', 'LD', 'PU', 'WHIP', 'BAbip', 'SO9', 'SO/W', 'mlbID'],
      dtype='object')